flows.json
[
    {
        "id": "4018cef4.755f3",
        "type": "tab",
        "label": "brewery",
        "disabled": false,
        "info": ""
    },
    {
        "id": "acc8977e.fd0588",
        "type": "tab",
        "label": "shutdown",
        "disabled": false,
        "info": ""
    },
    {
        "id": "faf25434.0c0ff8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "nodesathome2",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "26c5d339.37638c",
        "type": "ui_group",
        "z": "",
        "name": "Temperatur",
        "tab": "8fef3bad.282ce8",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "6d970163.d439f",
        "type": "ui_group",
        "z": "",
        "name": "Steuerung",
        "tab": "8fef3bad.282ce8",
        "order": 1,
        "disp": true,
        "width": "5"
    },
    {
        "id": "ed68914c.8764b",
        "type": "ui_group",
        "z": "",
        "name": "Rezept",
        "tab": "8fef3bad.282ce8",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "bd0e967c.257d88",
        "type": "ui_group",
        "z": "",
        "name": "Ticker",
        "tab": "8fef3bad.282ce8",
        "order": 4,
        "disp": false,
        "width": "25",
        "collapse": false
    },
    {
        "id": "80ff57a1.b1f1b8",
        "type": "influxdb",
        "z": "",
        "hostname": "nodesathome2",
        "port": "8086",
        "protocol": "http",
        "database": "brewery",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "cbad4bec.ed7c88",
        "type": "ui_group",
        "z": "",
        "name": "Temperatur 1 (weiß)",
        "tab": "fdf6c30b.7cd49",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "ae17b855.7e0858",
        "type": "ui_group",
        "z": "",
        "name": "Temperatur 2 (gelb)",
        "tab": "fdf6c30b.7cd49",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "f7a4a10e.66a75",
        "type": "ui_group",
        "z": "",
        "name": "Spannungsversorgung",
        "tab": "fdf6c30b.7cd49",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "8fef3bad.282ce8",
        "type": "ui_tab",
        "z": "",
        "name": "Brauerei",
        "icon": "fa-beer",
        "order": 1
    },
    {
        "id": "fdf6c30b.7cd49",
        "type": "ui_tab",
        "z": "",
        "name": "Nachguss",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "b07ece8c.ead91",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cee51941.7e69d8",
        "type": "ui_tab",
        "z": "",
        "name": "System",
        "icon": "stop",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a318d10.c590e4",
        "type": "ui_group",
        "z": "",
        "name": "Shutdown",
        "tab": "cee51941.7e69d8",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e9c6e592.9bfc78",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Sekundentakt",
        "info": "",
        "x": 130,
        "y": 340,
        "wires": []
    },
    {
        "id": "e72e0a4e.b17428",
        "type": "function",
        "z": "4018cef4.755f3",
        "name": "2-point-controller",
        "func": "\n// junand 19.09.2017\n\n//----------------------------------------------------------------\n\nconst DEFAULT_RECIPE_NAME = \"unknown\";\nconst DEFAULT_BREW_START = \"unknown\";\nconst DEFAULT_STEP_DESCIPTION = \"unknown\";\nconst DEFAULT_TEMP = 1;\nconst DEFAULT_HEATING = \"control\";\nconst DEFAULT_STIRRING = \"off\";\nconst DEFAULT_HYSTERESIS = 1;\nconst DEFAULT_DURATION = 1;\nconst DEFAULT_HEATER_ON = false;\nconst DEFAULT_STIRRER_ON = false;\n\nvar recipeName = context.get ( \"recipeName\" );\nvar brewStart = context.get ( \"brewStart\" );\nvar stepDescription = context.get ( \"stepDescription\" );\nvar targetTemp = context.get ( \"targetTemp\" ) || DEFAULT_TEMP;\nvar brewTemp = context.get ( \"brewTemp\" ) || DEFAULT_TEMP;\nvar heatingMode = context.get ( \"heating\" ) || DEFAULT_HEATING;\nvar stirringMode = context.get ( \"stirring\" ) || DEFAULT_STIRRING;\nvar hysteresis = context.get ( \"hysteresis\" ) || DEFAULT_HYSTERESIS;\nvar periodLength = context.get ( \"periodLength\" ) || DEFAULT_DURATION;\nvar alarm = context.get ( \"alarm\" );\n\nconst PERIOD_INCREMENT = 1; // 30;                            // <- accelerate time here\nconst PERIOD_ZERO = { min: 0, sec: 0 };\nvar periodCount = context.get ( \"periodCount\" ) || PERIOD_ZERO;\nvar heaterOn = context.get ( \"heaterOn\" ) || DEFAULT_HEATER_ON;\nvar stirrerOn = context.get ( \"stirrerOn\" ) || DEFAULT_STIRRER_ON;\n\nconst STATE_IDLE = \"idle\";\nconst STATE_START = \"start\";\nconst STATE_STARTING = \"starting\";\nconst STATE_PERIOD_STARTED = \"started\";\nconst STATE_PERIOD_FINISHED = \"finished\";\n\nconst STATE_COLOR = [];\nSTATE_COLOR [STATE_IDLE] = \"grey\";\nSTATE_COLOR [STATE_START] = \"white\";\nSTATE_COLOR [STATE_STARTING] = \"yellow\";\nSTATE_COLOR [STATE_PERIOD_STARTED] = \"green\";\nSTATE_COLOR [STATE_PERIOD_FINISHED] = \"black\";\n\nconst LCD_ALARM_MSG_DURATION = 5; //sec\nvar lcdAlarmPeriod = context.get ( \"alarmPeriod\" );\nvar lcdAlarmMsg = context.get ( \"alarmMsg\" );\n\n//----------------------------------------------------------------\n\nvar state = context.get ( \"state\" ) || STATE_IDLE;\n\nif ( state == STATE_IDLE ) {\n    node.status ( { fill: STATE_COLOR [state], shape: \"dot\", text: state } );\n}\n\n//----------------------------------------------------------------\n\nfunction incPeriodCount ( cnt ) {\n    cnt.sec += PERIOD_INCREMENT;\n    if ( cnt.sec > 59 ) {\n        cnt.sec = 0;\n        cnt.min++;\n    }\n    return cnt;\n}\n\n//----------------------------------------------------------------\n\nfunction createHeaterMessage ( onOff ) { return { payload: onOff }; }\n\nfunction createStirrerMessage ( onOff ) { return { payload: onOff }; }\n\nfunction createStepMessage () { return { topic: \"next\", payload: \"x\" }; }\n\nfunction createPeriodeMessage ( count ) { return { payload: count.min + \":\" + (\"0\" + count.sec).slice ( -2 ) }; }\n\nfunction createAlarmMessage ( notification ) { return { payload: notification }; }\n\nfunction createAudioMessage ( audio ) { return { payload: audio };\n}\n\nfunction createChartMessage ( temp, target ) { \n    if ( target ) {\n        return [\n            { topic: \"value\", payload: temp },\n            { topic: \"target\", payload: target }\n        ];\n    }\n    else {\n        return { topic: \"value\", payload: temp };\n    }\n}\n\nfunction createInfluxMessage () {\n    return {\n        measurement: \"°C\",\n        payload: [\n            // fields\n            {\n                state: state,\n                step: stepDescription,\n                brewTemp: brewTemp,\n                target: targetTemp,\n                heater: heaterOn ? \"on\" : \"off\",\n                stirrer: stirrerOn ? \"on\" : \"off\",\n                counterMin: periodCount.min,\n                counterSec: periodCount.sec,\n            },\n            // tags\n            {\n                recipe: recipeName,\n                brewStart: brewStart\n            }\n        ]\n    };\n}\n\nfunction createLcdMessage ( step ) {\n    //node.warn ( \"[LCD] topic=\" + msg.topic + \" state=\" + state + \" recipe=\" + recipeName + \" step=\" + step + \" stepDescription=\" + stepDescription + \" brewTemp=\" + brewTemp + \" targetTemp=\" + targetTemp );\n    if ( state == STATE_IDLE ) {\n        return {\n            payload: {\n                msgs: [\n                    { msg: \"####################\" },\n                    { msg: \"#      PiBrew      #\" },\n                    { msg: \"#      Ready       #\" },\n                    { msg: \"####################\" },\n                ]\n            }\n        };\n    }\n    else if ( lcdAlarmMsg ) {\n        return {\n            payload: {\n                msgs: [\n                    { msg: \"!!!!!!!!!!!!!!!!!!!!\" },\n                    { msg: lcdAlarmMsg, center: true },\n                    { msg: \" \" },\n                    { msg: periodCount.min + \":\" + (\"0\" + periodCount.sec).slice ( -2 ) + \" min\", center: true }\n                ]\n            }\n        };\n    }\n    else {\n        var s = brewTemp.toFixed ( 1 ) + \"ßC -> \" + targetTemp.toFixed ( 1 ) + \"ßC\";\n        var l1 = ((20 - s.length - 0.5) / 2).toFixed ( 0 );\n        var l2 = 20 - s.length - l1;\n        if ( heaterOn ) {\n            s = \"+\" + \" \".repeat ( l1 - 1 ) + s;\n        } else {\n            s =  \" \".repeat ( l1 ) + s;\n        }\n        if ( stirrerOn ) {\n            s = s + \" \".repeat ( l2 - 1 ) + \"*\";\n        } else {\n            s = s + \" \".repeat ( l2 );\n        }\n        return {\n            payload: {\n                msgs: [\n                    { msg: recipeName || DEFAULT_RECIPE_NAME },\n                    { msg: step ? step : (stepDescription || DEFAULT_STEP_DESCIPTION) },\n                    { msg: s },\n                    { msg: periodCount.min + \":\" + (\"0\" + periodCount.sec).slice ( -2 ) + \" min\", center: true }\n                ]\n            }\n        };\n    }\n}\n\n//----------------------------------------------------------------\n\nfunction setState ( newState ) {\n    state = newState;\n    context.set ( \"state\", state );\n    node.status ( { fill: STATE_COLOR [state], shape: \"dot\", text: state } );\n}\n\nfunction setHeaterOn ( value ) {\n    heaterOn = value;\n    context.set ( \"heaterOn\", heaterOn );\n}\n\nfunction setStirrerOn ( value ) {\n    stirrerOn = value;\n    context.set ( \"stirrerOn\", stirrerOn );\n}\n\n//----------------------------------------------------------------\n\n//node.warn ( \"[EVENT] state=\" + state + \" min=\" + periodCount.min + \" sec=\" + periodCount.sec );\n\nif ( msg.topic == \"stop\" ) {\n    setState ( STATE_IDLE );\n    setHeaterOn ( false );\n    setStirrerOn ( false );\n    return [createLcdMessage (), createHeaterMessage ( \"OFF\" ), createStirrerMessage ( \"OFF\" )];\n}\nelse if ( msg.topic == \"start\" ) {\n    \n    recipeName = msg.recipeName || recipeName || DEFAULT_RECIPE_NAME;\n    brewStart = msg.brewStart || brewStart || DEFAULT_BREW_START;\n    stepDescription = msg.step || step || DEFAULT_STEP_DESCIPTION;\n    var t = msg.temperature || DEFAULT_TEMP; \n    if ( t > 0 && t < 105 ) targetTemp = t;\n    heatingMode = msg.heating || heatingMode || DEFAULT_HEATING;\n    stirringMode = msg.stirring || stirringMode || DEFAULT_STIRRING;\n    var h = msg.hysteresis || DEFAULT_HYSTERESIS;\n    if ( h > 0 && h < 10 ) hysteresis = h;\n    var p = msg.duration || DEFAULT_DURATION;\n    if ( p === \"wait\" || p > 0 ) periodLength = p;\n\n    //node.warn ( \"[START] mode=\" + heatingMode + \" stirrer=\" + stirringMode + \" t=\" + targetTemp + \" h=\" + hysteresis + \" p=\" + periodLength );\n    \n    context.set ( \"recipeName\", recipeName );\n    context.set ( \"brewStart\", brewStart );\n    context.set ( \"stepDescription\", stepDescription );\n    context.set ( \"targetTemp\", targetTemp );\n    context.set ( \"heating\", heatingMode );\n    context.set ( \"stirring\", stirringMode );\n    context.set ( \"hysteresis\", hysteresis );\n    context.set ( \"periodLength\", periodLength );\n    context.set ( \"alarm\", msg.alarm );\n    \n    context.set ( \"periodCount\", PERIOD_ZERO );\n\n    setState ( STATE_START );\n    \n    return [createLcdMessage (), null, null, null, createPeriodeMessage ( PERIOD_ZERO )];\n\n}\nelse if ( msg.topic == \"hysteresis\" ) {\n    context.set ( \"hysteresis\", hysteresis );\n}\nelse if ( msg.topic == \"tick\" ) { // every sec\n    // check lcd alarm\n    if ( lcdAlarmPeriod && lcdAlarmPeriod > 0 ) {\n        lcdAlarmPeriod--;\n        context.set ( \"alarmPeriod\", lcdAlarmPeriod );\n    }\n    else {\n        lcdAlarmPeriod = null;\n        lcdAlarmMsg = null;\n        context.set ( \"alarmPeriod\", null );\n        context.set ( \"alarmMsg\", null );\n    }\n    // check for period length\n    if ( state == STATE_PERIOD_STARTED ) {\n        context.set ( \"periodCount\", incPeriodCount ( periodCount ) );\n        var alarmMsg = null;\n        var audioMsg = null;\n        if ( alarm ) {\n            for ( var i = 0; i < alarm.length; i++ ) {\n                var alarmtime = null;\n                if ( typeof ( alarm [i] ) === \"number\" ) alarmtime = alarm [i];\n                else alarmtime = alarm [i].time;\n                if ( periodCount.min == alarmtime ) {\n                    if ( periodCount.sec === 0 || alarmtime === 0 && periodCount.sec === PERIOD_INCREMENT ) { // exception for 00:00, 1 sec later\n                        lcdAlarmMsg = alarm [i].text;\n                        context.set ( \"alarmMsg\", lcdAlarmMsg );\n                        lcdAlarmPeriod = LCD_ALARM_MSG_DURATION;\n                        context.set ( \"alarmPeriod\", lcdAlarmPeriod );\n                        alarmMsg = createAlarmMessage ( lcdAlarmMsg );\n                        audioMsg = createAudioMessage ( \"ring\" );\n                        break;\n                    }\n                }\n            }\n        }\n        if ( periodLength == \"wait\" ) {} // do nothing, only tick and maybe ring\n        else {\n            if ( periodCount.min >= periodLength ) {\n                setState ( STATE_PERIOD_FINISHED );\n                context.set ( \"targetTemp\", null );\n                setHeaterOn ( false );\n                setStirrerOn ( false );\n                if ( !audioMsg ) audioMsg = createAudioMessage ( \"tweet2x\" );\n                return [createLcdMessage (), createHeaterMessage ( \"OFF\" ), createStirrerMessage ( \"OFF\" ), null, createPeriodeMessage ( periodCount ), null, createStepMessage (), alarmMsg, audioMsg]; \n            }\n        }\n        \n        //node.warn ( \"[TICK] p=\" + periodLength + \" min=\" + periodCount.min + \" sec=\" + periodCount.sec + \" state=\" + state );\n\n        // tick\n        return [createLcdMessage (), null, null, null, createPeriodeMessage ( periodCount ), null, null, alarmMsg, audioMsg];\n    }\n}\nelse if ( msg.topic == \"nodes@home/control/ssr/brewery/socket1\" ) {\n    setHeaterOn ( msg.payload == \"ON\" ? true : false );\n    return [createLcdMessage (), createHeaterMessage ( msg.payload )];\n}\nelse if ( msg.topic == \"nodes@home/control/ssr/brewery/socket2\" ) {\n    setStirrerOn ( msg.payload == \"ON\" ? true : false );\n    return [createLcdMessage (), null, createStirrerMessage ( msg.payload )];\n}\nelse {\n    // temperature received\n    if ( state == STATE_IDLE ) {} // do nothing\n    else {\n        brewTemp = msg.payload;\n        context.set ( \"brewTemp\", brewTemp );\n        if ( state == STATE_PERIOD_FINISHED ) {\n            return [createLcdMessage (), null, null, createChartMessage ( brewTemp ), null, createInfluxMessage ()];\n        }\n        else {\n            \n            // special treatment for beginning a new step with same target temperature\n            if ( state == STATE_START ) {\n                if ( brewTemp >= targetTemp ) {\n                    setState ( STATE_PERIOD_STARTED );\n                }\n                else {\n                    setState ( STATE_STARTING );\n                }\n            }\n\n            var heaterMsg = null;\n            var stirrerMsg = null;\n            var alarmMsg = null;\n            var audioMsg = null;\n            var newHeaterOn = null;\n            var newStirrerOn = null;\n\n            if ( brewTemp >= targetTemp ) {\n                if ( heaterOn && heatingMode != \"full\" ) newHeaterOn = false;\n                if ( stirrerOn && stirringMode != \"full\" ) newStirrerOn = false;\n                if ( state == STATE_STARTING ) {\n                    setState ( STATE_PERIOD_STARTED );\n                    audioMsg = createAudioMessage ( \"tweet2x\" );\n                }\n            }\n\n            if ( heatingMode == \"off\" ) {\n                if ( heaterOn ) newHeaterOn = false;\n            }\n            else if ( heatingMode == \"one_time\" ) {\n                if ( state == STATE_STARTING ) {\n                    if ( !heaterOn ) newHeaterOn = true;\n                }\n            }\n            else if ( heatingMode == \"control\" ) {\n                if ( brewTemp <= targetTemp - hysteresis ) {\n                    if ( !heaterOn ) newHeaterOn = true;\n                }\n            }\n            else if ( heatingMode == \"full\" ) {\n                if ( !heaterOn ) newHeaterOn = true;\n            }\n            \n            if ( newHeaterOn !== null ) {\n                //node.warn ( \"switch heater from \" + heaterOn + \" to \" + newHeaterOn );                    \n                setHeaterOn ( newHeaterOn );\n                heaterMsg = createHeaterMessage ( newHeaterOn ? \"ON\" : \"OFF\" );\n                if ( !audioMsg ) audioMsg = createAudioMessage ( \"tweet\" );\n            }\n            \n            if ( stirringMode == \"off\" ) {\n                if ( stirrerOn ) newStirrerOn = false;\n            }\n            else if ( stirringMode == \"control\" ) {\n                if ( brewTemp <= targetTemp - hysteresis ) {\n                    if ( !stirrerOn ) newStirrerOn = true;\n                }\n            }\n            else if ( stirringMode == \"full\" ) {\n                if ( !stirrerOn ) newStirrerOn = true;\n            }\n            \n            if ( newStirrerOn !== null ) {\n                //node.warn ( \"switch stirrer from \" + stirrerOn + \" to \" + newStirrerOn );                    \n                setStirrerOn ( newStirrerOn );\n                stirrerMsg = createStirrerMessage ( newStirrerOn ? \"ON\" : \"OFF\" );\n            }\n\n            //node.warn ( \"[TEMP] heater=\" + heaterOn + \" newHeater=\" + newHeaterOn + \" mode=\" + heatingMode + \" p=\" + periodLength + \" min=\" + periodCount.min + \" sec=\" + periodCount.sec + \" state=\" + state );\n            \n            // on every temp, send target and data fields\n            return [createLcdMessage (), heaterMsg, stirrerMsg, createChartMessage ( brewTemp, targetTemp ), null, createInfluxMessage (), null, alarmMsg, audioMsg];\n            \n        }\n    }\n}\n",
        "outputs": 9,
        "noerr": 0,
        "x": 670,
        "y": 380,
        "wires": [
            [
                "2b6a65b9.d15eea"
            ],
            [
                "ca3d5412.fd1b98",
                "729f1b67.d8f124",
                "94234899.310498"
            ],
            [
                "601b2343.750a7c",
                "6d46d128.01aaf",
                "8fd440ad.53f9e"
            ],
            [
                "d2dc225.23641e"
            ],
            [
                "1dff3d65.3cfb83"
            ],
            [
                "ebbe91bc.527ce"
            ],
            [
                "ab315bed.9c0268"
            ],
            [
                "2c4d6050.8244f"
            ],
            [
                "da831d0e.3ea6a"
            ]
        ],
        "outputLabels": [
            "display",
            "heater switch (on/off)",
            "stirrer switch (on/off)",
            "chart data",
            "period ticker",
            "influxdb",
            "next step (target reached)",
            "alarm",
            "audio"
        ]
    },
    {
        "id": "94234899.310498",
        "type": "mqtt out",
        "z": "4018cef4.755f3",
        "name": "heater",
        "topic": "nodes@home/control/ssr/brewery/socket1/state",
        "qos": "0",
        "retain": "false",
        "broker": "faf25434.0c0ff8",
        "x": 1250,
        "y": 520,
        "wires": []
    },
    {
        "id": "8b16cdf0.ac563",
        "type": "inject",
        "z": "4018cef4.755f3",
        "name": "tick",
        "topic": "tick",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "e72e0a4e.b17428"
            ]
        ]
    },
    {
        "id": "d2dc225.23641e",
        "type": "ui_chart",
        "z": "4018cef4.755f3",
        "name": "chart",
        "group": "26c5d339.37638c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Verlauf",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "IDLE",
        "dot": false,
        "ymin": "0",
        "ymax": "110",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#0000ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 1250,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a4def846.268a18",
        "type": "ui_gauge",
        "z": "4018cef4.755f3",
        "name": "brew temperature",
        "group": "26c5d339.37638c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sud",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#ff8000",
            "#ca3838"
        ],
        "seg1": "28",
        "seg2": "95",
        "x": 1290,
        "y": 320,
        "wires": []
    },
    {
        "id": "ca3d5412.fd1b98",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "heater",
        "label": "Heizung",
        "group": "6d970163.d439f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "trending_up",
        "oncolor": "red",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "trending_down",
        "offcolor": "blue",
        "x": 1250,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b61f3237.8e837",
        "type": "ui_button",
        "z": "4018cef4.755f3",
        "name": "start",
        "group": "6d970163.d439f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "green",
        "bgcolor": "white",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "start",
        "x": 390,
        "y": 600,
        "wires": [
            [
                "ab315bed.9c0268",
                "6e48bfe0.c102f"
            ]
        ]
    },
    {
        "id": "e2d3c53e.006678",
        "type": "ui_button",
        "z": "4018cef4.755f3",
        "name": "stop",
        "group": "6d970163.d439f",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Stop",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#FFAAAA",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "stop",
        "x": 390,
        "y": 680,
        "wires": [
            [
                "ab315bed.9c0268"
            ]
        ]
    },
    {
        "id": "1a5c7c9e.06e713",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 5,
        "width": "11",
        "height": "1",
        "name": "line2",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 200,
        "wires": []
    },
    {
        "id": "81bf0ef2.dfd71",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 7,
        "width": "11",
        "height": "1",
        "name": "line3",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 240,
        "wires": []
    },
    {
        "id": "10c11b17.338835",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 9,
        "width": "11",
        "height": "1",
        "name": "line4",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 280,
        "wires": []
    },
    {
        "id": "b5700648.674618",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 11,
        "width": "11",
        "height": "1",
        "name": "line5",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 320,
        "wires": []
    },
    {
        "id": "bf6dda35.f9bd58",
        "type": "json",
        "z": "4018cef4.755f3",
        "name": "",
        "pretty": false,
        "x": 1030,
        "y": 860,
        "wires": [
            [
                "ab315bed.9c0268",
                "3bd82293.1951de"
            ]
        ]
    },
    {
        "id": "d1d93bb7.b7ec98",
        "type": "inject",
        "z": "4018cef4.755f3",
        "name": "load",
        "topic": "recipe",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "4591e583.8d859c",
                "1e8e560d.254cca"
            ]
        ]
    },
    {
        "id": "9ce0bde5.0bf55",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 5",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2010,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ff1c486.80d70b8",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 2",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2010,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "570b3d88.dd0f84",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 3",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2010,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "14f2c298.fb3d2d",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 4",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2010,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6fc76659.0da9f8",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 3,
        "width": "11",
        "height": "1",
        "name": "line1",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 160,
        "wires": []
    },
    {
        "id": "32558a93.8dd216",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 1",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2010,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ab315bed.9c0268",
        "type": "function",
        "z": "4018cef4.755f3",
        "name": "scheduler",
        "func": "// junand 20.09.2017\n\n//node.warn ( \"payload=\" + msg.payload + \" topic=\" + msg.topic );\n\nfunction getStopMessages ( topic ) {\n    \n    return [\n        { topic: topic||\"stop\", payload: \"x\" },\n        [\n            { id: 0, payload: false },\n            { id: 1, payload: false },\n            { id: 2, payload: false },\n            { id: 3, payload: false },\n            { id: 4, payload: false },\n            { id: 5, payload: false },\n            { id: 6, payload: false },\n            { id: 7, payload: false },\n            { id: 8, payload: false },\n            { id: 9, payload: false },\n            { id: 10, payload: false },\n            { id: 11, payload: false },\n            { id: 12, payload: false }\n        ]\n    ];\n\n}\n\nfunction createDateString ( d ) {\n\n    var datestring = \n        (\"0\" + d.getDate ()).slice ( -2 ) + \"-\" + \n        (\"0\" + (d.getMonth () + 1)).slice ( -2 ) + \"-\" +\n        d.getFullYear () + \" \" + \n        (\"0\" + d.getHours ()).slice ( -2 ) + \":\" + \n        (\"0\" + d.getMinutes ()).slice ( -2 );\n\n    return datestring;        \n}\n\nfunction getStepMessages ( i ) {\n    \n    var recipe = context.get ( \"recipe\" );\n    if ( i === 0 ) { \n        recipe.brewStart = createDateString ( new Date () );\n        context.set ( \"recipe\", recipe );\n    }\n    if ( i < recipe.steps.length && recipe.steps [i].step ) {\n        // start controller\n        context.set ( \"step\", i + 1 );\n        return [\n            {   \n                topic: \"start\", \n                recipeName: recipe.name,\n                brewStart: recipe.brewStart,\n                step: recipe.steps [i].step,\n                temperature: recipe.steps [i].temperature, \n                heating: recipe.steps [i].heating,\n                stirring: recipe.steps [i].stirring,\n                duration: recipe.steps [i].duration, \n                hysteresis: recipe.steps [i].hysteresis,\n                alarm: recipe.steps [i].alarm \n            },\n            [\n                { id: 0, payload: i === 0 ? true : false },\n                { id: 1, payload: i === 1 ? true : false },\n                { id: 2, payload: i === 2 ? true : false },\n                { id: 3, payload: i === 3 ? true : false },\n                { id: 4, payload: i === 4 ? true : false },\n                { id: 5, payload: i === 5 ? true : false },\n                { id: 6, payload: i === 6 ? true : false },\n                { id: 7, payload: i === 7 ? true : false },\n                { id: 8, payload: i === 8 ? true : false },\n                { id: 9, payload: i === 9 ? true : false },\n                { id: 10, payload: i === 10 ? true : false },\n                { id: 11, payload: i === 11 ? true : false },\n                { id: 12, payload: i === 12 ? true : false }\n            ]\n        ];\n    }\n    else {\n        // stop controller\n        context.set ( \"step\", null );\n        return getStopMessages ( \"finished\" );\n    }\n\n}\n\nif ( msg.topic == \"recipe\" ) {\n    context.set ( \"recipe\", msg.payload );\n    return getStopMessages ();\n}\nelse if ( msg.topic == \"start\" ) {\n    context.set ( \"step\", 0 );\n    return getStepMessages ( 0 );\n}\nelse if ( msg.topic == \"stop\" ) {\n    context.set ( \"step\", null );\n    return getStopMessages ();\n}\nelse if ( msg.topic == \"next\" ) {\n    var step = context.get ( \"step\" );\n    if ( step ) return getStepMessages ( step );\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 680,
        "y": 640,
        "wires": [
            [
                "e72e0a4e.b17428",
                "2712e131.9920de"
            ],
            [
                "b8d2408e.cb751"
            ]
        ],
        "inputLabels": [
            "step control"
        ],
        "outputLabels": [
            "coltroller",
            "recipe lines control"
        ]
    },
    {
        "id": "2c4b056b.32e60a",
        "type": "switch",
        "z": "4018cef4.755f3",
        "name": "?id",
        "property": "id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 13,
        "x": 1850,
        "y": 400,
        "wires": [
            [
                "32558a93.8dd216"
            ],
            [
                "ff1c486.80d70b8"
            ],
            [
                "570b3d88.dd0f84"
            ],
            [
                "14f2c298.fb3d2d"
            ],
            [
                "9ce0bde5.0bf55"
            ],
            [
                "94efc3cb.423e1"
            ],
            [
                "6958efad.e237b"
            ],
            [
                "c68af876.b4caa8"
            ],
            [
                "58ceab22.6a9e24"
            ],
            [
                "d788b5dc.faf768"
            ],
            [
                "8024511d.8628f"
            ],
            [
                "88f97421.4715c8"
            ],
            [
                "5e0032ae.5c277c"
            ]
        ]
    },
    {
        "id": "de7cf0b2.2f5e1",
        "type": "ui_button",
        "z": "4018cef4.755f3",
        "name": "next",
        "group": "6d970163.d439f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Weiter",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "next",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "ab315bed.9c0268"
            ]
        ]
    },
    {
        "id": "854e9aef.6cdd98",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 13,
        "width": "11",
        "height": "1",
        "name": "line6",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 360,
        "wires": []
    },
    {
        "id": "5a96d603.ee8ce8",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 15,
        "width": "11",
        "height": "1",
        "name": "line7",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 400,
        "wires": []
    },
    {
        "id": "2b12bbea.6a1f34",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 17,
        "width": "11",
        "height": "1",
        "name": "line8",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 440,
        "wires": []
    },
    {
        "id": "94efc3cb.423e1",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 6",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2010,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6958efad.e237b",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 7",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 14,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2010,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c68af876.b4caa8",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 8",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 16,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2010,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1dff3d65.3cfb83",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "bd0e967c.257d88",
        "order": 1,
        "width": "25",
        "height": "2",
        "name": "ticker",
        "label": "",
        "format": "<font size=\"+10\">{{msg.payload}} min</font size>",
        "layout": "col-center",
        "x": 1250,
        "y": 400,
        "wires": []
    },
    {
        "id": "704bf357.0c6bfc",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "recipe name",
        "label": "",
        "format": "<font size=\"+3\">{{msg.payload.name}}</font size>",
        "layout": "row-left",
        "x": 2350,
        "y": 360,
        "wires": []
    },
    {
        "id": "f67370b6.d09d9",
        "type": "mqtt in",
        "z": "4018cef4.755f3",
        "name": "heater",
        "topic": "nodes@home/control/ssr/brewery/socket1",
        "qos": "0",
        "datatype": "auto",
        "broker": "faf25434.0c0ff8",
        "x": 110,
        "y": 231,
        "wires": [
            [
                "e72e0a4e.b17428"
            ]
        ]
    },
    {
        "id": "53a491d8.f875c",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Manuelle Steuerung",
        "info": "",
        "x": 150,
        "y": 191,
        "wires": []
    },
    {
        "id": "91e8c068.ecff3",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Steuerung Rezeptur",
        "info": "",
        "x": 150,
        "y": 560,
        "wires": []
    },
    {
        "id": "bf647afa.913018",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Hysterese einstellen",
        "info": "",
        "x": 150,
        "y": 100,
        "wires": []
    },
    {
        "id": "d029e5fd.7a6618",
        "type": "ui_numeric",
        "z": "4018cef4.755f3",
        "name": "hysteresis",
        "label": "Hysterese",
        "group": "6d970163.d439f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "hysteresis",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "step": "0.1",
        "x": 620,
        "y": 140,
        "wires": [
            [
                "e72e0a4e.b17428"
            ]
        ]
    },
    {
        "id": "ebbe91bc.527ce",
        "type": "influxdb out",
        "z": "4018cef4.755f3",
        "influxdb": "80ff57a1.b1f1b8",
        "name": "influxdb",
        "measurement": "°C",
        "precision": "",
        "retentionPolicy": "",
        "x": 1260,
        "y": 600,
        "wires": []
    },
    {
        "id": "6db386a8.e60158",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Temperatursensor",
        "info": "",
        "x": 150,
        "y": 420,
        "wires": []
    },
    {
        "id": "6e48bfe0.c102f",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "blank",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "d2dc225.23641e"
            ]
        ]
    },
    {
        "id": "a9003b4b.1d3b28",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 19,
        "width": "11",
        "height": "1",
        "name": "line9",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 480,
        "wires": []
    },
    {
        "id": "612f420b.57f19c",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 21,
        "width": "11",
        "height": "1",
        "name": "line10",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 520,
        "wires": []
    },
    {
        "id": "58ceab22.6a9e24",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 9",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 18,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2010,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d788b5dc.faf768",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 10",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 20,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2020,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c958207b.e4414",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Button",
        "info": "",
        "x": 110,
        "y": 680,
        "wires": []
    },
    {
        "id": "7b400b22.c1ba24",
        "type": "switch",
        "z": "4018cef4.755f3",
        "name": "?on",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 720,
        "wires": [
            [
                "de7cf0b2.2f5e1"
            ]
        ]
    },
    {
        "id": "9c95505d.7daed",
        "type": "ui_gauge",
        "z": "4018cef4.755f3",
        "name": "temperature",
        "group": "cbad4bec.ed7c88",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#0000ff",
            "#ffffff",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "78",
        "x": 610,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6cb67117.59fcd",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "get value",
        "rules": [
            {
                "t": "move",
                "p": "payload.temperature1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1280,
        "wires": [
            [
                "9c95505d.7daed",
                "78150771.b64318"
            ]
        ]
    },
    {
        "id": "b3413c87.118a4",
        "type": "json",
        "z": "4018cef4.755f3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 250,
        "y": 1280,
        "wires": [
            [
                "6cb67117.59fcd",
                "b0f507fc.bcc488",
                "1e1af978.1d77d7"
            ]
        ]
    },
    {
        "id": "edbc6864.a8d7d8",
        "type": "mqtt in",
        "z": "4018cef4.755f3",
        "name": "mqtt",
        "topic": "nodes@home/sensor/ds18b20/brewery/value/temperature",
        "qos": "0",
        "broker": "faf25434.0c0ff8",
        "x": 110,
        "y": 1280,
        "wires": [
            [
                "b3413c87.118a4"
            ]
        ]
    },
    {
        "id": "9b680088.6ac22",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Temperatur Nachguss",
        "info": "",
        "x": 160,
        "y": 1240,
        "wires": []
    },
    {
        "id": "78150771.b64318",
        "type": "ui_chart",
        "z": "4018cef4.755f3",
        "name": "chart",
        "group": "cbad4bec.ed7c88",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "---",
        "dot": false,
        "ymin": "0",
        "ymax": "90",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#8080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 590,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "de32406.7ae35c",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "blank",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1160,
        "wires": [
            [
                "78150771.b64318",
                "c6a59fb3.34b7d",
                "4380cee9.d77b"
            ]
        ]
    },
    {
        "id": "819136d4.e03258",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "value = 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1200,
        "wires": [
            [
                "9c95505d.7daed",
                "f1a8370f.ff8078",
                "bdf8e81f.e29908"
            ]
        ]
    },
    {
        "id": "b9bee830.824058",
        "type": "mqtt in",
        "z": "4018cef4.755f3",
        "name": "stirrer",
        "topic": "nodes@home/control/ssr/brewery/socket2",
        "qos": "0",
        "datatype": "auto",
        "broker": "faf25434.0c0ff8",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "e72e0a4e.b17428"
            ]
        ]
    },
    {
        "id": "601b2343.750a7c",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "stirrer",
        "label": "Rührwerk",
        "group": "6d970163.d439f",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "trending_up",
        "oncolor": "red",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "trending_down",
        "offcolor": "blue",
        "x": 1250,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8fd440ad.53f9e",
        "type": "mqtt out",
        "z": "4018cef4.755f3",
        "name": "stirrer",
        "topic": "nodes@home/control/ssr/brewery/socket2/state",
        "qos": "0",
        "retain": "false",
        "broker": "faf25434.0c0ff8",
        "x": 1250,
        "y": 560,
        "wires": []
    },
    {
        "id": "5aeca36a.ec81dc",
        "type": "exec",
        "z": "4018cef4.755f3",
        "command": "ls ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "ls",
        "x": 410,
        "y": 860,
        "wires": [
            [
                "3c92176.446fbe8"
            ],
            [],
            []
        ]
    },
    {
        "id": "e4bfde63.29ee7",
        "type": "ui_button",
        "z": "4018cef4.755f3",
        "name": "refresh",
        "group": "6d970163.d439f",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "grey",
        "bgcolor": "white",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "54f7cd25.95ea64"
            ]
        ]
    },
    {
        "id": "5dd2bfc7.a568f",
        "type": "ui_dropdown",
        "z": "4018cef4.755f3",
        "name": "recipe",
        "label": "",
        "place": "Rezept auswählen",
        "group": "6d970163.d439f",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 670,
        "y": 860,
        "wires": [
            [
                "76c067b2.5c93c8"
            ]
        ]
    },
    {
        "id": "3c92176.446fbe8",
        "type": "function",
        "z": "4018cef4.755f3",
        "name": "options",
        "func": "// junand 15.04.2018\n\n// 1) create array of files\nvar s = msg.payload;\nvar files = s.substring ( 0, s.length - 1 ).split ( \"\\n\" );\n//node.warn ( \"files=\" + files );\n\n// 2) dropdown list\nvar l = [];\nfor ( var i = 0; i < files.length; i++ ) {\n    var f = files [i];\n    if ( f.startsWith ( \"recipe_\" ) && f.endsWith ( \".json\" ) ) {\n        var l1 = \"recipe_\".length;\n        var l2 = \".json\".length;\n        var option = f.substring ( l1, f.length - l2 );\n        //node.warn ( \"option=\" + option );\n        //l [i] = { option: f };\n        l [i] = {};\n        l[i] [option] = \"/home/pi/GIT/brewery/recipes/\" + f;\n    }\n}\n//return { options: files };\nreturn { options: l };",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 860,
        "wires": [
            [
                "5dd2bfc7.a568f"
            ]
        ]
    },
    {
        "id": "ade0bbe8.4833f8",
        "type": "file in",
        "z": "4018cef4.755f3",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 910,
        "y": 860,
        "wires": [
            [
                "bf6dda35.f9bd58"
            ]
        ]
    },
    {
        "id": "76c067b2.5c93c8",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "mv",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "recipe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 860,
        "wires": [
            [
                "ade0bbe8.4833f8"
            ]
        ]
    },
    {
        "id": "165feb9b.e85494",
        "type": "function",
        "z": "4018cef4.755f3",
        "name": "recipe lines",
        "func": "// junand 15.04.2018\n\nvar result = [];\nfor ( var i = 0; i < 13; i++ ) {\n    result [i] = { id: i, payload: \"\" };\n}\n\nif ( msg.payload.steps ) {\n    var l = msg.payload.steps;\n    for ( var i = 0; i < l.length; i++ ) {\n        if ( l [i].step ) {\n            line = \"[\" + l [i].id + \"] \" + l [i].step;\n            if ( l [i].temperature ) line += \": \" + l [i].temperature + \"°C\";\n            if ( l [i].duration === \"wait\" ) line += \", dann WEITER\";\n            else line += \" für \" + l [i].duration + \"min\";\n            if ( l [i].stirring == \"full\" ) line += \" **\";\n            else if ( l [i].stirring == \"control\" ) line += \" *\";\n            result [i] = { id: i, payload: line };\n        }\n    }\n}\n\nreturn [result];",
        "outputs": "1",
        "noerr": 0,
        "x": 2350,
        "y": 400,
        "wires": [
            [
                "84703ebc.4bc73"
            ]
        ]
    },
    {
        "id": "ebe76917.05c378",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Rezeptauswahl",
        "info": "",
        "x": 140,
        "y": 820,
        "wires": []
    },
    {
        "id": "6c4ed829.8244d8",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "recipe icons",
        "links": [
            "b8d2408e.cb751"
        ],
        "x": 1755,
        "y": 400,
        "wires": [
            [
                "2c4b056b.32e60a"
            ]
        ]
    },
    {
        "id": "b8d2408e.cb751",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "recipe icons",
        "links": [
            "6c4ed829.8244d8"
        ],
        "x": 815,
        "y": 680,
        "wires": []
    },
    {
        "id": "4237a12e.14703",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Rezept Zeilenmarkierung",
        "info": "",
        "x": 1830,
        "y": 120,
        "wires": []
    },
    {
        "id": "9bafe8c2.f93818",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Akkuüberwachung",
        "info": "",
        "x": 150,
        "y": 1480,
        "wires": []
    },
    {
        "id": "84703ebc.4bc73",
        "type": "switch",
        "z": "4018cef4.755f3",
        "name": "?id",
        "property": "id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 13,
        "x": 2530,
        "y": 400,
        "wires": [
            [
                "6fc76659.0da9f8"
            ],
            [
                "1a5c7c9e.06e713"
            ],
            [
                "81bf0ef2.dfd71"
            ],
            [
                "10c11b17.338835"
            ],
            [
                "b5700648.674618"
            ],
            [
                "854e9aef.6cdd98"
            ],
            [
                "5a96d603.ee8ce8"
            ],
            [
                "2b12bbea.6a1f34"
            ],
            [
                "a9003b4b.1d3b28"
            ],
            [
                "612f420b.57f19c"
            ],
            [
                "ff0d8653.ea49d8"
            ],
            [
                "3f6fbd3d.854332"
            ],
            [
                "af2d3937.607378"
            ]
        ]
    },
    {
        "id": "eb63db60.1aceb8",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "6d970163.d439f",
        "order": 9,
        "width": "5",
        "height": "4",
        "name": "documentation",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2360,
        "y": 500,
        "wires": []
    },
    {
        "id": "150d0146.6c577f",
        "type": "template",
        "z": "4018cef4.755f3",
        "name": "beep doc",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<br>\n<font size = +1>Töne</font>\n<ul>\n<li>ring<br>Alarm aus dem Rezept</li>\n<li>beep<br>Heizung an/aus</li>\n<li>2xbeep<br>Anfang/Ende Zeitintervall</li>\n</ul>",
        "output": "str",
        "x": 2340,
        "y": 440,
        "wires": [
            [
                "eb63db60.1aceb8"
            ]
        ]
    },
    {
        "id": "145a2bd5.54c354",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "load on startup",
        "links": [
            "9eb8404e.13d46",
            "c480b759.94c038",
            "4591e583.8d859c"
        ],
        "x": 2175,
        "y": 420,
        "wires": [
            [
                "150d0146.6c577f",
                "165feb9b.e85494",
                "704bf357.0c6bfc"
            ]
        ]
    },
    {
        "id": "cf59c1c.3876a4",
        "type": "switch",
        "z": "4018cef4.755f3",
        "name": "?hysteresis",
        "property": "hysteresis",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "1e8e560d.254cca"
            ],
            [
                "4bbf0d56.4e4114"
            ]
        ]
    },
    {
        "id": "1e8e560d.254cca",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "d029e5fd.7a6618"
            ]
        ]
    },
    {
        "id": "11a3f535.dadbfb",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Start Flow",
        "info": "",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "4591e583.8d859c",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "load on startup",
        "links": [
            "89d897a4.1b9b78",
            "874b9da7.6c029",
            "955bd90e.aad868",
            "145a2bd5.54c354",
            "2ff9e592.3681aa"
        ],
        "x": 215,
        "y": 60,
        "wires": []
    },
    {
        "id": "874b9da7.6c029",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "load on startup",
        "links": [
            "9eb8404e.13d46",
            "c480b759.94c038",
            "4591e583.8d859c"
        ],
        "x": 175,
        "y": 900,
        "wires": [
            [
                "54f7cd25.95ea64"
            ]
        ]
    },
    {
        "id": "df419c3b.57c9",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "disable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 600,
        "wires": [
            [
                "b61f3237.8e837",
                "de7cf0b2.2f5e1",
                "e2d3c53e.006678"
            ]
        ]
    },
    {
        "id": "89d897a4.1b9b78",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "load on startup",
        "links": [
            "9eb8404e.13d46",
            "c480b759.94c038",
            "4591e583.8d859c"
        ],
        "x": 75,
        "y": 600,
        "wires": [
            [
                "df419c3b.57c9"
            ]
        ]
    },
    {
        "id": "36aa30c1.2f763",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "enable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "b61f3237.8e837",
                "de7cf0b2.2f5e1",
                "e2d3c53e.006678"
            ]
        ]
    },
    {
        "id": "2712e131.9920de",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "start recipe",
        "links": [
            "d9170591.86a258"
        ],
        "x": 815,
        "y": 640,
        "wires": []
    },
    {
        "id": "d9170591.86a258",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "start recipe",
        "links": [
            "2712e131.9920de"
        ],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "a0f2e8eb.c11628"
            ]
        ]
    },
    {
        "id": "18b56ef7.9a6251",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "6d970163.d439f",
        "order": 10,
        "width": "5",
        "height": "3",
        "name": "placeholder",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 130,
        "y": 1000,
        "wires": []
    },
    {
        "id": "8024511d.8628f",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 11",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 22,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2020,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "88f97421.4715c8",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 12",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 24,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2020,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "5e0032ae.5c277c",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "icon 13",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 26,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 2020,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ff0d8653.ea49d8",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 23,
        "width": "11",
        "height": "1",
        "name": "line11",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 560,
        "wires": []
    },
    {
        "id": "3f6fbd3d.854332",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 25,
        "width": "11",
        "height": "1",
        "name": "line12",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 600,
        "wires": []
    },
    {
        "id": "af2d3937.607378",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "ed68914c.8764b",
        "order": 27,
        "width": "11",
        "height": "1",
        "name": "line13",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 2690,
        "y": 640,
        "wires": []
    },
    {
        "id": "b0f507fc.bcc488",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "get value",
        "rules": [
            {
                "t": "move",
                "p": "payload.temperature2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1360,
        "wires": [
            [
                "f1a8370f.ff8078",
                "c6a59fb3.34b7d"
            ]
        ]
    },
    {
        "id": "c6a59fb3.34b7d",
        "type": "ui_chart",
        "z": "4018cef4.755f3",
        "name": "chart",
        "group": "ae17b855.7e0858",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "---",
        "dot": false,
        "ymin": "0",
        "ymax": "90",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#8080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 590,
        "y": 1320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f1a8370f.ff8078",
        "type": "ui_gauge",
        "z": "4018cef4.755f3",
        "name": "temperature",
        "group": "ae17b855.7e0858",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#0000ff",
            "#ffff00",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "78",
        "x": 610,
        "y": 1360,
        "wires": []
    },
    {
        "id": "4380cee9.d77b",
        "type": "ui_chart",
        "z": "4018cef4.755f3",
        "name": "chart",
        "group": "f7a4a10e.66a75",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "---",
        "dot": false,
        "ymin": "3.0",
        "ymax": "4.5",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#8080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 590,
        "y": 1480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bdf8e81f.e29908",
        "type": "ui_gauge",
        "z": "4018cef4.755f3",
        "name": "voltage",
        "group": "f7a4a10e.66a75",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "V",
        "format": "{{value | number:2}}",
        "min": "3.0",
        "max": "4.5",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#008000"
        ],
        "seg1": "3.6",
        "seg2": "3.8",
        "x": 600,
        "y": 1520,
        "wires": []
    },
    {
        "id": "b9ce488f.b25488",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "get value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value / 1000",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1520,
        "wires": [
            [
                "bdf8e81f.e29908",
                "4380cee9.d77b"
            ]
        ]
    },
    {
        "id": "a846db59.38ad18",
        "type": "json",
        "z": "4018cef4.755f3",
        "name": "",
        "pretty": false,
        "x": 290,
        "y": 1520,
        "wires": [
            [
                "b9ce488f.b25488"
            ]
        ]
    },
    {
        "id": "4934a6b2.2f4668",
        "type": "mqtt in",
        "z": "4018cef4.755f3",
        "name": "boiler",
        "topic": "nodes@home/sensor/ds18b20/brewery/value/voltage",
        "qos": "0",
        "broker": "faf25434.0c0ff8",
        "x": 107,
        "y": 1520,
        "wires": [
            [
                "a846db59.38ad18"
            ]
        ]
    },
    {
        "id": "4bbf0d56.4e4114",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "hysteresis",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "d029e5fd.7a6618"
            ]
        ]
    },
    {
        "id": "3ad29a71.778ee6",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "26c5d339.37638c",
        "order": 10,
        "width": "8",
        "height": "4",
        "name": "placeholder",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 130,
        "y": 1040,
        "wires": []
    },
    {
        "id": "dbb3eb55.e0d5a8",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Platzhalter für Steuerung und Temperatur",
        "info": "",
        "x": 220,
        "y": 960,
        "wires": []
    },
    {
        "id": "641006da.4de518",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Nachguss",
        "info": "",
        "x": 126,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c1976433.cd1aa8",
        "type": "ui_button",
        "z": "4018cef4.755f3",
        "name": "",
        "group": "f7a4a10e.66a75",
        "order": 56,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 116,
        "y": 1160,
        "wires": [
            [
                "de32406.7ae35c",
                "819136d4.e03258"
            ]
        ]
    },
    {
        "id": "1e1af978.1d77d7",
        "type": "function",
        "z": "4018cef4.755f3",
        "name": "detect alarm",
        "func": "\nif ( msg.payload.temperature1 >= 78.0 ) {\n    return [{ payload: \"Kessel 1 hat Nachguss-Temperatur erreicht!\" }, { payload: \"ring\" }];\n}\n\nif ( msg.payload.temperature2 >= 78.0 ) {\n    return [{ payload: \"Kessel 2 hat Nachguss-Temperatur erreicht!\" }, { payload: \"ring\" }];\n}\n\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "x": 650,
        "y": 1420,
        "wires": [
            [
                "835f9cba.217cd"
            ],
            [
                "eda80586.11cc58"
            ]
        ],
        "outputLabels": [
            "alarm",
            "audio"
        ]
    },
    {
        "id": "835f9cba.217cd",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "alarm",
        "links": [
            "9ae7ba59.e3ec58",
            "6c843107.5ac24",
            "c838fc7e.25bbd"
        ],
        "x": 755,
        "y": 1500,
        "wires": []
    },
    {
        "id": "298e3ba8.ff24b4",
        "type": "rpi-ds18b20",
        "z": "4018cef4.755f3",
        "topic": "",
        "array": false,
        "name": "ds18b20",
        "x": 240,
        "y": 458,
        "wires": [
            [
                "e72e0a4e.b17428",
                "a4def846.268a18",
                "d76fde63.cd76"
            ]
        ]
    },
    {
        "id": "1221cdfa.1f0202",
        "type": "inject",
        "z": "4018cef4.755f3",
        "name": "id",
        "topic": "FF0115231704",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 458,
        "wires": [
            [
                "298e3ba8.ff24b4"
            ]
        ]
    },
    {
        "id": "df6ab485.d85b48",
        "type": "inject",
        "z": "4018cef4.755f3",
        "name": "",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 730,
        "y": 80,
        "wires": [
            [
                "e72e0a4e.b17428",
                "a4def846.268a18"
            ]
        ]
    },
    {
        "id": "59983ad8.9edb34",
        "type": "rpi-gpio out",
        "z": "4018cef4.755f3",
        "name": "stirrer",
        "pin": "16",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1370,
        "y": 480,
        "wires": []
    },
    {
        "id": "34c13288.bb312e",
        "type": "rpi-gpio out",
        "z": "4018cef4.755f3",
        "name": "heater",
        "pin": "18",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1370,
        "y": 440,
        "wires": []
    },
    {
        "id": "729f1b67.d8f124",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "map",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload = \"ON\" ? false : (msg.payload = \"OFF\" ? true : null )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "34c13288.bb312e"
            ]
        ]
    },
    {
        "id": "6d46d128.01aaf",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "map",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload = \"ON\" ? false : (msg.payload = \"OFF\" ? true : null )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 480,
        "wires": [
            [
                "59983ad8.9edb34"
            ]
        ]
    },
    {
        "id": "35864240.6b7fbe",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "GPIOs",
        "info": " 4 -> ds18b20\n 5 -> next\n 6 -> stop\n22 -> buzzer\n23 -> stirrer (active low)\n24 -> heater (ative low)\n",
        "x": 1030,
        "y": 40,
        "wires": []
    },
    {
        "id": "5bfa0b5.d3e18f4",
        "type": "rpi-gpio in",
        "z": "4018cef4.755f3",
        "name": "next",
        "pin": "29",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 110,
        "y": 720,
        "wires": [
            [
                "7b400b22.c1ba24"
            ]
        ]
    },
    {
        "id": "4b8dbdac.ca1d74",
        "type": "rpi-gpio in",
        "z": "4018cef4.755f3",
        "name": "stop",
        "pin": "31",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 110,
        "y": 760,
        "wires": [
            [
                "91979a18.ea1018"
            ]
        ]
    },
    {
        "id": "91979a18.ea1018",
        "type": "switch",
        "z": "4018cef4.755f3",
        "name": "?on",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 760,
        "wires": [
            [
                "e2d3c53e.006678"
            ]
        ]
    },
    {
        "id": "2b6a65b9.d15eea",
        "type": "LCD20x4-I2C",
        "z": "4018cef4.755f3",
        "name": "",
        "speed": "3",
        "size": "20x4",
        "address": "0x3F",
        "x": 1290,
        "y": 200,
        "wires": []
    },
    {
        "id": "b811b40f.b434b8",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Test",
        "info": "Inject 100°C",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "10e68f99.62eed",
        "type": "rpi-gpio out",
        "z": "4018cef4.755f3",
        "name": "buzzer",
        "pin": "15",
        "set": true,
        "level": "0",
        "freq": "100",
        "out": "out",
        "x": 1710,
        "y": 760,
        "wires": []
    },
    {
        "id": "846bc4bf.167b18",
        "type": "trigger",
        "z": "4018cef4.755f3",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "30",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "short",
        "x": 1550,
        "y": 780,
        "wires": [
            [
                "10e68f99.62eed"
            ]
        ]
    },
    {
        "id": "38cca011.1aec6",
        "type": "mqtt out",
        "z": "4018cef4.755f3",
        "name": "temperature",
        "topic": "nodes@home/control/ssr/brewery/value/temperature",
        "qos": "0",
        "retain": "false",
        "broker": "faf25434.0c0ff8",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "e25bfe27.9e2aa",
        "type": "ui_toast",
        "z": "4018cef4.755f3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "alarm text",
        "x": 1260,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "7229393c.f5a708",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$flowContext('basepath') & \"/mp3/\" & msg.payload & \".mp3\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 680,
        "wires": [
            [
                "e1d18ce3.64362"
            ]
        ]
    },
    {
        "id": "e1d18ce3.64362",
        "type": "file in",
        "z": "4018cef4.755f3",
        "name": "mp3",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": true,
        "x": 1390,
        "y": 680,
        "wires": [
            [
                "c83960b7.bafff"
            ]
        ]
    },
    {
        "id": "c83960b7.bafff",
        "type": "ui_audio",
        "z": "4018cef4.755f3",
        "name": "",
        "group": "6d970163.d439f",
        "voice": "0",
        "always": true,
        "x": 1520,
        "y": 680,
        "wires": []
    },
    {
        "id": "eda80586.11cc58",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "audio",
        "links": [
            "5c503456.e30fdc",
            "fadd3ed.9095bc"
        ],
        "x": 755,
        "y": 1540,
        "wires": []
    },
    {
        "id": "d76fde63.cd76",
        "type": "template",
        "z": "4018cef4.755f3",
        "name": "t",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"value\":{{payload}},\"unit\":\"°C\"}",
        "output": "str",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "38cca011.1aec6"
            ]
        ]
    },
    {
        "id": "52464056.cc677",
        "type": "delay",
        "z": "4018cef4.755f3",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1410,
        "y": 800,
        "wires": [
            [
                "846bc4bf.167b18"
            ]
        ]
    },
    {
        "id": "cb711084.22a03",
        "type": "switch",
        "z": "4018cef4.755f3",
        "name": "?sound",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ring",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tweet",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tweet2x",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1260,
        "y": 740,
        "wires": [
            [
                "59b8d1d8.b2d88"
            ],
            [
                "846bc4bf.167b18"
            ],
            [
                "52464056.cc677",
                "846bc4bf.167b18"
            ]
        ]
    },
    {
        "id": "59b8d1d8.b2d88",
        "type": "trigger",
        "z": "4018cef4.755f3",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "300",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "long",
        "x": 1550,
        "y": 740,
        "wires": [
            [
                "10e68f99.62eed"
            ]
        ]
    },
    {
        "id": "3bd82293.1951de",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "recipe",
        "links": [
            "bcd51fcf.6e841",
            "c1f169a3.ced248",
            "a29cbec4.2d747"
        ],
        "x": 1135,
        "y": 860,
        "wires": []
    },
    {
        "id": "c1f169a3.ced248",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "recipe",
        "links": [
            "3bd82293.1951de"
        ],
        "x": 2175,
        "y": 380,
        "wires": [
            [
                "165feb9b.e85494",
                "704bf357.0c6bfc"
            ]
        ]
    },
    {
        "id": "a29cbec4.2d747",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "recipe",
        "links": [
            "3bd82293.1951de"
        ],
        "x": 75,
        "y": 640,
        "wires": [
            [
                "36aa30c1.2f763"
            ]
        ]
    },
    {
        "id": "a0f2e8eb.c11628",
        "type": "switch",
        "z": "4018cef4.755f3",
        "name": "?start",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "cf59c1c.3876a4"
            ]
        ]
    },
    {
        "id": "2c4d6050.8244f",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "alarm",
        "links": [
            "9ae7ba59.e3ec58",
            "6c843107.5ac24",
            "c838fc7e.25bbd"
        ],
        "x": 835,
        "y": 460,
        "wires": []
    },
    {
        "id": "da831d0e.3ea6a",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "audio",
        "links": [
            "5c503456.e30fdc",
            "fadd3ed.9095bc"
        ],
        "x": 835,
        "y": 500,
        "wires": []
    },
    {
        "id": "c838fc7e.25bbd",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "alarm",
        "links": [
            "2c4d6050.8244f",
            "835f9cba.217cd"
        ],
        "x": 1155,
        "y": 640,
        "wires": [
            [
                "e25bfe27.9e2aa"
            ]
        ]
    },
    {
        "id": "fadd3ed.9095bc",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "audio",
        "links": [
            "da831d0e.3ea6a",
            "eda80586.11cc58"
        ],
        "x": 1155,
        "y": 680,
        "wires": [
            [
                "7229393c.f5a708",
                "cb711084.22a03"
            ]
        ]
    },
    {
        "id": "174353f1.c5e96c",
        "type": "config",
        "z": "4018cef4.755f3",
        "name": "config",
        "properties": [
            {
                "p": "basepath",
                "pt": "flow",
                "to": "/home/pi/GIT/brewery",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "54f7cd25.95ea64",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "filename",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext('basepath') & \"/recipes\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 860,
        "wires": [
            [
                "5aeca36a.ec81dc"
            ]
        ]
    },
    {
        "id": "b0c59940.8ae458",
        "type": "ui_button",
        "z": "acc8977e.fd0588",
        "name": "",
        "group": "4a318d10.c590e4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "a7efa4e4.82fa48"
            ]
        ]
    },
    {
        "id": "a7efa4e4.82fa48",
        "type": "exec",
        "z": "acc8977e.fd0588",
        "command": "sudo shutdown -h now",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    }
]