flows.json
[
    {
        "id": "962f6b3.4c14f98",
        "type": "tab",
        "label": "config",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4018cef4.755f3",
        "type": "tab",
        "label": "brewery",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0c185b8.08bb48",
        "type": "tab",
        "label": "control gui",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e07d0f0.b1a0e",
        "type": "tab",
        "label": "recipe gui",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5f9eca78.52cb34",
        "type": "tab",
        "label": "sparge",
        "disabled": false,
        "info": ""
    },
    {
        "id": "acc8977e.fd0588",
        "type": "tab",
        "label": "system",
        "disabled": false,
        "info": ""
    },
    {
        "id": "faf25434.0c0ff8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "nodesathome2",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "26c5d339.37638c",
        "type": "ui_group",
        "z": "",
        "name": "Temperatur",
        "tab": "8fef3bad.282ce8",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "6d970163.d439f",
        "type": "ui_group",
        "z": "",
        "name": "Steuerung",
        "tab": "8fef3bad.282ce8",
        "order": 1,
        "disp": true,
        "width": "5"
    },
    {
        "id": "ed68914c.8764b",
        "type": "ui_group",
        "z": "",
        "name": "Rezept",
        "tab": "8fef3bad.282ce8",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "bd0e967c.257d88",
        "type": "ui_group",
        "z": "",
        "name": "Ticker",
        "tab": "8fef3bad.282ce8",
        "order": 4,
        "disp": false,
        "width": "25",
        "collapse": false
    },
    {
        "id": "80ff57a1.b1f1b8",
        "type": "influxdb",
        "z": "",
        "hostname": "nodesathome2",
        "port": "8086",
        "protocol": "http",
        "database": "brewery",
        "name": "",
        "usetls": true,
        "tls": "5c6624c5.d9c1fc"
    },
    {
        "id": "cbad4bec.ed7c88",
        "type": "ui_group",
        "z": "",
        "name": "Temperatur 1 (blau)",
        "tab": "fdf6c30b.7cd49",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "ae17b855.7e0858",
        "type": "ui_group",
        "z": "",
        "name": "Temperatur 2 (gelb)",
        "tab": "fdf6c30b.7cd49",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "f7a4a10e.66a75",
        "type": "ui_group",
        "z": "",
        "name": "Spannungsversorgung",
        "tab": "fdf6c30b.7cd49",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "8fef3bad.282ce8",
        "type": "ui_tab",
        "z": "",
        "name": "Brauerei",
        "icon": "fa-beer",
        "order": 1
    },
    {
        "id": "fdf6c30b.7cd49",
        "type": "ui_tab",
        "z": "",
        "name": "Nachguss",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "b07ece8c.ead91",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cee51941.7e69d8",
        "type": "ui_tab",
        "z": "",
        "name": "System",
        "icon": "stop",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a318d10.c590e4",
        "type": "ui_group",
        "z": "",
        "name": "Shutdown",
        "tab": "cee51941.7e69d8",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5c6624c5.d9c1fc",
        "type": "tls-config",
        "z": "",
        "name": "nodesathome",
        "cert": "",
        "key": "",
        "ca": ".node-red/ssl/ca-root-nodesathome.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "e9c6e592.9bfc78",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Sekundentakt",
        "info": "",
        "x": 130,
        "y": 340,
        "wires": []
    },
    {
        "id": "e72e0a4e.b17428",
        "type": "function",
        "z": "4018cef4.755f3",
        "name": "2-point-controller",
        "func": "\n// junand 19.09.2017\n\n//----------------------------------------------------------------\n\nconst DEFAULT_RECIPE_NAME = \"unknown\";\nconst DEFAULT_BREW_START = \"unknown\";\nconst DEFAULT_STEP_DESCIPTION = \"unknown\";\nconst DEFAULT_TEMP = 1;\nconst DEFAULT_HEATING = \"control\";\nconst DEFAULT_STIRRING = \"off\";\nconst DEFAULT_HYSTERESIS = 1;\nconst DEFAULT_DURATION = 1;\nconst DEFAULT_HEATER_ON = false;\nconst DEFAULT_STIRRER_ON = false;\n\nvar recipeName = context.get ( \"recipeName\" );\nvar brewStart = context.get ( \"brewStart\" );\nvar stepDescription = context.get ( \"stepDescription\" );\nvar targetTemp = context.get ( \"targetTemp\" ) || DEFAULT_TEMP;\nvar brewTemp = context.get ( \"brewTemp\" ) || DEFAULT_TEMP;\nvar heatingMode = context.get ( \"heating\" ) || DEFAULT_HEATING;\nvar stirringMode = context.get ( \"stirring\" ) || DEFAULT_STIRRING;\nvar hysteresis = context.get ( \"hysteresis\" ) || DEFAULT_HYSTERESIS;\nvar periodLength = context.get ( \"periodLength\" ) || DEFAULT_DURATION;\nvar alarm = context.get ( \"alarm\" );\n\nconst PERIOD_INCREMENT = 1; // 30;                            // <- accelerate time here\nconst PERIOD_ZERO = { min: 0, sec: 0 };\nvar periodCount = context.get ( \"periodCount\" ) || PERIOD_ZERO;\nvar heaterOn = context.get ( \"heaterOn\" ) || DEFAULT_HEATER_ON;\nvar stirrerOn = context.get ( \"stirrerOn\" ) || DEFAULT_STIRRER_ON;\n\nconst STATE_IDLE = \"idle\";\nconst STATE_START = \"start\";\nconst STATE_STARTING = \"starting\";\nconst STATE_PERIOD_STARTED = \"started\";\nconst STATE_PERIOD_FINISHED = \"finished\";\n\nconst STATE_COLOR = [];\nSTATE_COLOR [STATE_IDLE] = \"grey\";\nSTATE_COLOR [STATE_START] = \"white\";\nSTATE_COLOR [STATE_STARTING] = \"yellow\";\nSTATE_COLOR [STATE_PERIOD_STARTED] = \"green\";\nSTATE_COLOR [STATE_PERIOD_FINISHED] = \"black\";\n\nconst LCD_ALARM_MSG_DURATION = 5; //sec\nvar lcdAlarmPeriod = context.get ( \"alarmPeriod\" );\nvar lcdAlarmMsg = context.get ( \"alarmMsg\" );\n\n//----------------------------------------------------------------\n\nvar state = context.get ( \"state\" ) || STATE_IDLE;\n\nif ( state == STATE_IDLE ) {\n    node.status ( { fill: STATE_COLOR [state], shape: \"dot\", text: state } );\n}\n\n//----------------------------------------------------------------\n\nfunction incPeriodCount ( cnt ) {\n    cnt.sec += PERIOD_INCREMENT;\n    if ( cnt.sec > 59 ) {\n        cnt.sec = 0;\n        cnt.min++;\n    }\n    return cnt;\n}\n\n//----------------------------------------------------------------\n\nfunction createHeaterMessage ( onOff ) { return { payload: onOff }; }\n\nfunction createStirrerMessage ( onOff ) { return { payload: onOff }; }\n\nfunction createStepMessage () { return { topic: \"next\", payload: \"x\" }; }\n\nfunction createPeriodeMessage ( count ) { return { payload: count.min + \":\" + (\"0\" + count.sec).slice ( -2 ) }; }\n\nfunction createAlarmMessage ( notification ) { return { payload: notification }; }\n\nfunction createAudioMessage ( audio ) { return { payload: audio };\n}\n\nfunction createChartMessage ( temp, target ) { \n    if ( target ) {\n        return [\n            { topic: \"value\", payload: temp },\n            { topic: \"target\", payload: target }\n        ];\n    }\n    else {\n        return { topic: \"value\", payload: temp };\n    }\n}\n\nfunction createInfluxMessage () {\n    return {\n        measurement: \"°C\",\n        payload: [\n            // fields\n            {\n                state: state,\n                step: stepDescription,\n                brewTemp: brewTemp,\n                target: targetTemp,\n                heater: heaterOn ? \"on\" : \"off\",\n                stirrer: stirrerOn ? \"on\" : \"off\",\n                counterMin: periodCount.min,\n                counterSec: periodCount.sec,\n            },\n            // tags\n            {\n                recipe: recipeName,\n                brewStart: brewStart\n            }\n        ]\n    };\n}\n\nfunction centerLine ( c1, s, c2 ) {\n    \n    len = 18;\n    \n    if ( s.length > len ) {\n        s = s.slice ( 0, len );\n    }\n\n    var l1 = ((len - s.length - 0.5) / 2).toFixed ( 0 );\n    var l2 = len - s.length - l1;\n    \n    return c1 + \" \".repeat ( l1 ) + s + \" \".repeat ( l2 ) + c2;\n    \n}\n\nfunction createLcdMessage ( step ) {\n    //node.warn ( \"[LCD] topic=\" + msg.topic + \" state=\" + state + \" recipe=\" + recipeName + \" heaterOn=\" + heaterOn + \" stirrerOn=\" + stirrerOn + \" step=\" + step + \" stepDescription=\" + stepDescription + \" brewTemp=\" + brewTemp + \" targetTemp=\" + targetTemp );\n    if ( state == STATE_IDLE ) {\n        return {\n            payload: {\n                msgs: [\n                    { msg: \"####################\" },\n                    { msg: \"#   PiBrew Ready   #\" },\n                    { msg: centerLine ( \"#\", recipeName || \"\", \"#\" ) },\n                    { msg: \"####################\" },\n                ]\n            }\n        };\n    }\n    else if ( lcdAlarmMsg ) {\n        return {\n            payload: {\n                msgs: [\n                    { msg: \"!!!!!!!!!!!!!!!!!!!!\" },\n                    { msg: lcdAlarmMsg, center: true },\n                    { msg: \" \" },\n                    { msg: periodCount.min + \":\" + (\"0\" + periodCount.sec).slice ( -2 ) + \" min\", center: true }\n                ]\n            }\n        };\n    }\n    else {\n        return {\n            payload: {\n                msgs: [\n                    { msg: recipeName || DEFAULT_RECIPE_NAME },\n                    { msg: step ? step : (stepDescription || DEFAULT_STEP_DESCIPTION).slice ( 0, 20 ) },\n                    { msg: centerLine ( heaterOn ? \"+\" : \" \", brewTemp.toFixed ( 1 ) + \"ßC -> \" + targetTemp.toFixed ( 1 ) + \"ßC\", stirrerOn ? \"*\" : \" \" ) },\n                    { msg: periodCount.min + \":\" + (\"0\" + periodCount.sec).slice ( -2 ) + \" min\", center: true }\n                ]\n            }\n        };\n    }\n}\n\n//----------------------------------------------------------------\n\nfunction setState ( newState ) {\n    state = newState;\n    context.set ( \"state\", state );\n    node.status ( { fill: STATE_COLOR [state], shape: \"dot\", text: state } );\n}\n\nfunction setHeaterOn ( value ) {\n    heaterOn = value;\n    context.set ( \"heaterOn\", heaterOn );\n}\n\nfunction setStirrerOn ( value ) {\n    stirrerOn = value;\n    context.set ( \"stirrerOn\", stirrerOn );\n}\n\n//----------------------------------------------------------------\n\nif ( false && msg.topic != \"tick\" && msg.topic != \"FF2D57A41605\" ) {\n    node.warn ( \"[EVENT] topic=\" + msg.topic + \" state=\" + state + \" min=\" + periodCount.min + \" sec=\" + periodCount.sec );\n}\n\nif ( msg.topic == \"finished\" ) {\n    setState ( STATE_IDLE );\n    setHeaterOn ( false );\n    setStirrerOn ( false );\n    return [createLcdMessage (), createHeaterMessage ( \"OFF\" ), createStirrerMessage ( \"OFF\" )];\n}\nelse if ( msg.topic == \"recipe\" ) {\n    recipeName = msg.recipeName;\n    context.set ( \"recipeName\", recipeName );\n    setState ( STATE_IDLE );\n    setHeaterOn ( false );\n    setStirrerOn ( false );\n    return [createLcdMessage (), createHeaterMessage ( \"OFF\" ), createStirrerMessage ( \"OFF\" )];\n}\nelse if ( msg.topic == \"stop\" ) {\n    setState ( STATE_IDLE );\n    setHeaterOn ( false );\n    setStirrerOn ( false );\n    return [createLcdMessage (), createHeaterMessage ( \"OFF\" ), createStirrerMessage ( \"OFF\" )];\n}\nelse if ( msg.topic == \"start\" ) {\n    \n    recipeName = msg.recipeName || recipeName || DEFAULT_RECIPE_NAME;\n    brewStart = msg.brewStart || brewStart || DEFAULT_BREW_START;\n    stepDescription = msg.step || step || DEFAULT_STEP_DESCIPTION;\n    var t = msg.temperature || DEFAULT_TEMP; \n    if ( t > 0 && t < 105 ) targetTemp = t;\n    heatingMode = msg.heating || heatingMode || DEFAULT_HEATING;\n    stirringMode = msg.stirring || stirringMode || DEFAULT_STIRRING;\n    var h = msg.hysteresis || DEFAULT_HYSTERESIS;\n    if ( h > 0 && h < 10 ) hysteresis = h;\n    var p = msg.duration || DEFAULT_DURATION;\n    if ( p === \"wait\" || p > 0 ) periodLength = p;\n\n    //node.warn ( \"[START] mode=\" + heatingMode + \" stirrer=\" + stirringMode + \" t=\" + targetTemp + \" h=\" + hysteresis + \" p=\" + periodLength );\n    \n    context.set ( \"recipeName\", recipeName );\n    context.set ( \"brewStart\", brewStart );\n    context.set ( \"stepDescription\", stepDescription );\n    context.set ( \"targetTemp\", targetTemp );\n    context.set ( \"heating\", heatingMode );\n    context.set ( \"stirring\", stirringMode );\n    context.set ( \"hysteresis\", hysteresis );\n    context.set ( \"periodLength\", periodLength );\n    context.set ( \"alarm\", msg.alarm );\n    \n    context.set ( \"periodCount\", PERIOD_ZERO );\n\n    setState ( STATE_START );\n    \n    return [createLcdMessage (), null, null, null, createPeriodeMessage ( PERIOD_ZERO )];\n\n}\nelse if ( msg.topic == \"hysteresis\" ) {\n    context.set ( \"hysteresis\", hysteresis );\n}\nelse if ( msg.topic == \"tick\" ) { // every sec\n    // check lcd alarm\n    if ( lcdAlarmPeriod && lcdAlarmPeriod > 0 ) {\n        lcdAlarmPeriod--;\n        context.set ( \"alarmPeriod\", lcdAlarmPeriod );\n    }\n    else {\n        lcdAlarmPeriod = null;\n        lcdAlarmMsg = null;\n        context.set ( \"alarmPeriod\", null );\n        context.set ( \"alarmMsg\", null );\n    }\n    // check for period length\n    if ( state == STATE_PERIOD_STARTED ) {\n        context.set ( \"periodCount\", incPeriodCount ( periodCount ) );\n        var alarmMsg = null;\n        var audioMsg = null;\n        if ( alarm ) {\n            for ( var i = 0; i < alarm.length; i++ ) {\n                var alarmtime = null;\n                if ( typeof ( alarm [i] ) === \"number\" ) alarmtime = alarm [i];\n                else alarmtime = alarm [i].time;\n                if ( periodCount.min == alarmtime ) {\n                    if ( periodCount.sec === 0 || alarmtime === 0 && periodCount.sec === PERIOD_INCREMENT ) { // exception for 00:00, 1 sec later\n                        lcdAlarmMsg = alarm [i].text;\n                        context.set ( \"alarmMsg\", lcdAlarmMsg );\n                        lcdAlarmPeriod = LCD_ALARM_MSG_DURATION;\n                        context.set ( \"alarmPeriod\", lcdAlarmPeriod );\n                        alarmMsg = createAlarmMessage ( lcdAlarmMsg );\n                        audioMsg = createAudioMessage ( \"ring\" );\n                        break;\n                    }\n                }\n            }\n        }\n        if ( periodLength == \"wait\" ) {} // do nothing, only tick and maybe ring\n        else {\n            if ( periodCount.min >= periodLength ) {\n                setState ( STATE_PERIOD_FINISHED );\n                context.set ( \"targetTemp\", null );\n                setHeaterOn ( false );\n                setStirrerOn ( false );\n                if ( !audioMsg ) audioMsg = createAudioMessage ( \"tweet2x\" );\n                return [createLcdMessage (), createHeaterMessage ( \"OFF\" ), createStirrerMessage ( \"OFF\" ), null, createPeriodeMessage ( periodCount ), null, createStepMessage (), alarmMsg, audioMsg]; \n            }\n        }\n        \n        //node.warn ( \"[TICK] p=\" + periodLength + \" min=\" + periodCount.min + \" sec=\" + periodCount.sec + \" state=\" + state );\n\n        // tick\n        return [createLcdMessage (), null, null, null, createPeriodeMessage ( periodCount ), null, null, alarmMsg, audioMsg];\n    }\n}\nelse if ( msg.topic == \"nodes@home/control/ssr/brewery/socket1\" ) {\n    setHeaterOn ( msg.payload == \"ON\" ? true : false );\n    return [createLcdMessage (), createHeaterMessage ( msg.payload )];\n}\nelse if ( msg.topic == \"nodes@home/control/ssr/brewery/socket2\" ) {\n    setStirrerOn ( msg.payload == \"ON\" ? true : false );\n    return [createLcdMessage (), null, createStirrerMessage ( msg.payload )];\n}\nelse {\n    // temperature received\n    if ( state == STATE_IDLE ) {} // do nothing\n    else {\n        brewTemp = msg.payload;\n        context.set ( \"brewTemp\", brewTemp );\n        if ( state == STATE_PERIOD_FINISHED ) {\n            return [createLcdMessage (), null, null, createChartMessage ( brewTemp ), null, createInfluxMessage ()];\n        }\n        else {\n            \n            // special treatment for beginning a new step with same target temperature\n            if ( state == STATE_START ) {\n                if ( brewTemp >= targetTemp ) {\n                    setState ( STATE_PERIOD_STARTED );\n                }\n                else {\n                    setState ( STATE_STARTING );\n                }\n            }\n\n            var heaterMsg = null;\n            var stirrerMsg = null;\n            var alarmMsg = null;\n            var audioMsg = null;\n            var newHeaterOn = null;\n            var newStirrerOn = null;\n\n            if ( brewTemp >= targetTemp ) {\n                if ( heaterOn && heatingMode != \"full\" ) newHeaterOn = false;\n                if ( stirrerOn && stirringMode != \"full\" ) newStirrerOn = false;\n                if ( state == STATE_STARTING ) {\n                    setState ( STATE_PERIOD_STARTED );\n                    audioMsg = createAudioMessage ( \"tweet2x\" );\n                }\n            }\n\n            if ( heatingMode == \"off\" ) {\n                if ( heaterOn ) newHeaterOn = false;\n            }\n            else if ( heatingMode == \"one_time\" ) {\n                if ( state == STATE_STARTING ) {\n                    if ( !heaterOn ) newHeaterOn = true;\n                }\n            }\n            else if ( heatingMode == \"control\" ) {\n                if ( brewTemp <= targetTemp - hysteresis ) {\n                    if ( !heaterOn ) newHeaterOn = true;\n                }\n            }\n            else if ( heatingMode == \"full\" ) {\n                if ( !heaterOn ) newHeaterOn = true;\n            }\n            \n            if ( newHeaterOn !== null ) {\n                //node.warn ( \"switch heater from \" + heaterOn + \" to \" + newHeaterOn );                    \n                setHeaterOn ( newHeaterOn );\n                heaterMsg = createHeaterMessage ( newHeaterOn ? \"ON\" : \"OFF\" );\n                if ( !audioMsg ) audioMsg = createAudioMessage ( \"tweet\" );\n            }\n            \n            if ( stirringMode == \"off\" ) {\n                if ( stirrerOn ) newStirrerOn = false;\n            }\n            else if ( stirringMode == \"control\" ) {\n                if ( brewTemp <= targetTemp - hysteresis ) {\n                    if ( !stirrerOn ) newStirrerOn = true;\n                }\n            }\n            else if ( stirringMode == \"full\" ) {\n                if ( !stirrerOn ) newStirrerOn = true;\n            }\n            \n            if ( newStirrerOn !== null ) {\n                //node.warn ( \"switch stirrer from \" + stirrerOn + \" to \" + newStirrerOn );                    \n                setStirrerOn ( newStirrerOn );\n                stirrerMsg = createStirrerMessage ( newStirrerOn ? \"ON\" : \"OFF\" );\n            }\n\n            //node.warn ( \"[TEMP] heater=\" + heaterOn + \" newHeater=\" + newHeaterOn + \" mode=\" + heatingMode + \" p=\" + periodLength + \" min=\" + periodCount.min + \" sec=\" + periodCount.sec + \" state=\" + state );\n            \n            // on every temp, send target and data fields\n            return [createLcdMessage (), heaterMsg, stirrerMsg, createChartMessage ( brewTemp, targetTemp ), null, createInfluxMessage (), null, alarmMsg, audioMsg];\n            \n        }\n    }\n}\n",
        "outputs": 9,
        "noerr": 0,
        "x": 670,
        "y": 380,
        "wires": [
            [
                "2b6a65b9.d15eea"
            ],
            [
                "ca3d5412.fd1b98",
                "729f1b67.d8f124",
                "94234899.310498"
            ],
            [
                "601b2343.750a7c",
                "6d46d128.01aaf",
                "8fd440ad.53f9e"
            ],
            [
                "d2dc225.23641e"
            ],
            [
                "1dff3d65.3cfb83"
            ],
            [
                "ebbe91bc.527ce"
            ],
            [
                "ab315bed.9c0268"
            ],
            [
                "2c4d6050.8244f"
            ],
            [
                "da831d0e.3ea6a"
            ]
        ],
        "outputLabels": [
            "display",
            "heater switch (on/off)",
            "stirrer switch (on/off)",
            "chart data",
            "period ticker",
            "influxdb",
            "next step (target reached)",
            "alarm",
            "audio"
        ]
    },
    {
        "id": "94234899.310498",
        "type": "mqtt out",
        "z": "4018cef4.755f3",
        "name": "heater",
        "topic": "nodes@home/control/ssr/brewery/socket1/state",
        "qos": "0",
        "retain": "false",
        "broker": "faf25434.0c0ff8",
        "x": 1250,
        "y": 520,
        "wires": []
    },
    {
        "id": "8b16cdf0.ac563",
        "type": "inject",
        "z": "4018cef4.755f3",
        "name": "tick",
        "topic": "tick",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "e72e0a4e.b17428"
            ]
        ]
    },
    {
        "id": "d2dc225.23641e",
        "type": "ui_chart",
        "z": "4018cef4.755f3",
        "name": "chart",
        "group": "26c5d339.37638c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Verlauf",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "IDLE",
        "dot": false,
        "ymin": "0",
        "ymax": "110",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#0000ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 1250,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a4def846.268a18",
        "type": "ui_gauge",
        "z": "4018cef4.755f3",
        "name": "brew temperature",
        "group": "26c5d339.37638c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sud",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#ff8000",
            "#ca3838"
        ],
        "seg1": "28",
        "seg2": "95",
        "x": 1290,
        "y": 320,
        "wires": []
    },
    {
        "id": "ca3d5412.fd1b98",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "heater",
        "label": "Heizung",
        "group": "6d970163.d439f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "trending_up",
        "oncolor": "red",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "trending_down",
        "offcolor": "blue",
        "x": 1250,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d1d93bb7.b7ec98",
        "type": "inject",
        "z": "4018cef4.755f3",
        "name": "load",
        "topic": "startup",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "4591e583.8d859c",
                "1e8e560d.254cca"
            ]
        ]
    },
    {
        "id": "ab315bed.9c0268",
        "type": "function",
        "z": "4018cef4.755f3",
        "name": "scheduler",
        "func": "// junand 20.09.2017\n\n//node.warn ( \"payload=\" + msg.payload + \" topic=\" + msg.topic );\n\nfunction getStopMessages ( topic, recipeName ) {\n    \n    return [\n        { \n            topic: topic||\"stop\",\n            recipeName: recipeName,\n            payload: \"x\"\n        },\n        [\n            { id: 0, payload: false },\n            { id: 1, payload: false },\n            { id: 2, payload: false },\n            { id: 3, payload: false },\n            { id: 4, payload: false },\n            { id: 5, payload: false },\n            { id: 6, payload: false },\n            { id: 7, payload: false },\n            { id: 8, payload: false },\n            { id: 9, payload: false },\n            { id: 10, payload: false },\n            { id: 11, payload: false },\n            { id: 12, payload: false }\n        ]\n    ];\n\n}\n\nfunction createDateString ( d ) {\n\n    var datestring = \n        (\"0\" + d.getDate ()).slice ( -2 ) + \"-\" + \n        (\"0\" + (d.getMonth () + 1)).slice ( -2 ) + \"-\" +\n        d.getFullYear () + \" \" + \n        (\"0\" + d.getHours ()).slice ( -2 ) + \":\" + \n        (\"0\" + d.getMinutes ()).slice ( -2 );\n\n    return datestring;        \n}\n\nfunction getStepMessages ( i ) {\n    \n    var recipe = context.get ( \"recipe\" );\n    if ( i === 0 ) { \n        recipe.brewStart = createDateString ( new Date () );\n        context.set ( \"recipe\", recipe );\n    }\n    if ( i < recipe.steps.length && recipe.steps [i].step ) {\n        // start controller\n        context.set ( \"step\", i + 1 );\n        return [\n            {   \n                topic: \"start\", \n                recipeName: recipe.name,\n                brewStart: recipe.brewStart,\n                step: recipe.steps [i].step,\n                temperature: recipe.steps [i].temperature, \n                heating: recipe.steps [i].heating,\n                stirring: recipe.steps [i].stirring,\n                duration: recipe.steps [i].duration, \n                hysteresis: recipe.steps [i].hysteresis,\n                alarm: recipe.steps [i].alarm \n            },\n            [\n                { id: 0, payload: i === 0 ? true : false },\n                { id: 1, payload: i === 1 ? true : false },\n                { id: 2, payload: i === 2 ? true : false },\n                { id: 3, payload: i === 3 ? true : false },\n                { id: 4, payload: i === 4 ? true : false },\n                { id: 5, payload: i === 5 ? true : false },\n                { id: 6, payload: i === 6 ? true : false },\n                { id: 7, payload: i === 7 ? true : false },\n                { id: 8, payload: i === 8 ? true : false },\n                { id: 9, payload: i === 9 ? true : false },\n                { id: 10, payload: i === 10 ? true : false },\n                { id: 11, payload: i === 11 ? true : false },\n                { id: 12, payload: i === 12 ? true : false }\n            ]\n        ];\n    }\n    else {\n        // stop controller\n        context.set ( \"step\", null );\n        return getStopMessages ( \"finished\" );\n    }\n\n}\n\nif ( msg.topic == \"recipe\" ) {\n    context.set ( \"recipe\", msg.payload );\n    return getStopMessages ( \"recipe\", msg.payload.name );\n}\nelse if ( msg.topic == \"start\" ) {\n    context.set ( \"step\", 0 );\n    return getStepMessages ( 0 );\n}\nelse if ( msg.topic == \"stop\" ) {\n    context.set ( \"step\", null );\n    return getStopMessages ();\n}\nelse if ( msg.topic == \"next\" ) {\n    var step = context.get ( \"step\" );\n    if ( step ) return getStepMessages ( step );\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 680,
        "y": 580,
        "wires": [
            [
                "e72e0a4e.b17428",
                "2712e131.9920de"
            ],
            [
                "b8d2408e.cb751"
            ]
        ],
        "inputLabels": [
            "step control"
        ],
        "outputLabels": [
            "recipe schedule",
            "recipe lines control"
        ]
    },
    {
        "id": "1dff3d65.3cfb83",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "bd0e967c.257d88",
        "order": 1,
        "width": "25",
        "height": "2",
        "name": "ticker",
        "label": "",
        "format": "<font size=\"+10\">{{msg.payload}} min</font size>",
        "layout": "col-center",
        "x": 1250,
        "y": 400,
        "wires": []
    },
    {
        "id": "f67370b6.d09d9",
        "type": "mqtt in",
        "z": "4018cef4.755f3",
        "name": "heater",
        "topic": "nodes@home/control/ssr/brewery/socket1",
        "qos": "0",
        "datatype": "auto",
        "broker": "faf25434.0c0ff8",
        "x": 110,
        "y": 231,
        "wires": [
            [
                "e72e0a4e.b17428"
            ]
        ]
    },
    {
        "id": "53a491d8.f875c",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Manuelle Steuerung",
        "info": "",
        "x": 150,
        "y": 191,
        "wires": []
    },
    {
        "id": "bf647afa.913018",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Hysterese einstellen",
        "info": "",
        "x": 150,
        "y": 100,
        "wires": []
    },
    {
        "id": "d029e5fd.7a6618",
        "type": "ui_numeric",
        "z": "4018cef4.755f3",
        "name": "hysteresis",
        "label": "Hysterese",
        "group": "6d970163.d439f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "hysteresis",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "step": "0.1",
        "x": 620,
        "y": 140,
        "wires": [
            [
                "e72e0a4e.b17428"
            ]
        ]
    },
    {
        "id": "ebbe91bc.527ce",
        "type": "influxdb out",
        "z": "4018cef4.755f3",
        "influxdb": "80ff57a1.b1f1b8",
        "name": "influxdb",
        "measurement": "°C",
        "precision": "",
        "retentionPolicy": "",
        "x": 1260,
        "y": 600,
        "wires": []
    },
    {
        "id": "6db386a8.e60158",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Temperatursensor",
        "info": "",
        "x": 150,
        "y": 440,
        "wires": []
    },
    {
        "id": "b9bee830.824058",
        "type": "mqtt in",
        "z": "4018cef4.755f3",
        "name": "stirrer",
        "topic": "nodes@home/control/ssr/brewery/socket2",
        "qos": "0",
        "datatype": "auto",
        "broker": "faf25434.0c0ff8",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "e72e0a4e.b17428"
            ]
        ]
    },
    {
        "id": "601b2343.750a7c",
        "type": "ui_switch",
        "z": "4018cef4.755f3",
        "name": "stirrer",
        "label": "Rührwerk",
        "group": "6d970163.d439f",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "trending_up",
        "oncolor": "red",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "trending_down",
        "offcolor": "blue",
        "x": 1250,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8fd440ad.53f9e",
        "type": "mqtt out",
        "z": "4018cef4.755f3",
        "name": "stirrer",
        "topic": "nodes@home/control/ssr/brewery/socket2/state",
        "qos": "0",
        "retain": "false",
        "broker": "faf25434.0c0ff8",
        "x": 1250,
        "y": 560,
        "wires": []
    },
    {
        "id": "b8d2408e.cb751",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "recipe icons",
        "links": [
            "6c4ed829.8244d8",
            "23e3e0c6.67e42"
        ],
        "x": 835,
        "y": 600,
        "wires": []
    },
    {
        "id": "cf59c1c.3876a4",
        "type": "switch",
        "z": "4018cef4.755f3",
        "name": "?hysteresis",
        "property": "hysteresis",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "1e8e560d.254cca"
            ],
            [
                "4bbf0d56.4e4114"
            ]
        ]
    },
    {
        "id": "1e8e560d.254cca",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "default",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "d029e5fd.7a6618"
            ]
        ]
    },
    {
        "id": "11a3f535.dadbfb",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Start Flow",
        "info": "",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "4591e583.8d859c",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "load on startup",
        "links": [
            "89d897a4.1b9b78",
            "874b9da7.6c029",
            "955bd90e.aad868",
            "145a2bd5.54c354",
            "2ff9e592.3681aa",
            "d6dcabed.292318",
            "875f1b47.171cb8",
            "e34aef5a.58343",
            "d5ba55b4.26a2c8",
            "b8e8792a.48e4d8",
            "3fa96031.62452",
            "f31fe502.6750b8"
        ],
        "x": 215,
        "y": 60,
        "wires": []
    },
    {
        "id": "2712e131.9920de",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "recipe schedule",
        "links": [
            "d9170591.86a258",
            "91072922.6d14f8",
            "6f227e8d.19871"
        ],
        "x": 835,
        "y": 560,
        "wires": []
    },
    {
        "id": "d9170591.86a258",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "recipe schedule",
        "links": [
            "2712e131.9920de"
        ],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "a0f2e8eb.c11628"
            ]
        ]
    },
    {
        "id": "18b56ef7.9a6251",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "6d970163.d439f",
        "order": 10,
        "width": "5",
        "height": "3",
        "name": "placeholder",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1270,
        "y": 900,
        "wires": []
    },
    {
        "id": "4bbf0d56.4e4114",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "hysteresis",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "d029e5fd.7a6618"
            ]
        ]
    },
    {
        "id": "3ad29a71.778ee6",
        "type": "ui_text",
        "z": "4018cef4.755f3",
        "group": "26c5d339.37638c",
        "order": 10,
        "width": "8",
        "height": "4",
        "name": "placeholder",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1270,
        "y": 940,
        "wires": []
    },
    {
        "id": "dbb3eb55.e0d5a8",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "Platzhalter für Steuerung und Temperatur",
        "info": "",
        "x": 1360,
        "y": 860,
        "wires": []
    },
    {
        "id": "298e3ba8.ff24b4",
        "type": "rpi-ds18b20",
        "z": "4018cef4.755f3",
        "topic": "",
        "array": false,
        "name": "ds18b20",
        "x": 240,
        "y": 518,
        "wires": [
            [
                "e72e0a4e.b17428",
                "a4def846.268a18",
                "d76fde63.cd76"
            ]
        ]
    },
    {
        "id": "1221cdfa.1f0202",
        "type": "inject",
        "z": "4018cef4.755f3",
        "name": "read",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 518,
        "wires": [
            [
                "298e3ba8.ff24b4"
            ]
        ]
    },
    {
        "id": "df6ab485.d85b48",
        "type": "inject",
        "z": "4018cef4.755f3",
        "name": "100°c",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "e72e0a4e.b17428",
                "a4def846.268a18"
            ]
        ]
    },
    {
        "id": "59983ad8.9edb34",
        "type": "rpi-gpio out",
        "z": "4018cef4.755f3",
        "name": "stirrer",
        "pin": "16",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1370,
        "y": 480,
        "wires": []
    },
    {
        "id": "34c13288.bb312e",
        "type": "rpi-gpio out",
        "z": "4018cef4.755f3",
        "name": "heater",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "100",
        "out": "out",
        "x": 1370,
        "y": 440,
        "wires": []
    },
    {
        "id": "729f1b67.d8f124",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "map",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload = \"ON\" ? true: (msg.payload = \"OFF\" ? false : null )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "34c13288.bb312e"
            ]
        ]
    },
    {
        "id": "6d46d128.01aaf",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "map",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload = \"ON\" ? true: (msg.payload = \"OFF\" ? false : null )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 480,
        "wires": [
            [
                "59983ad8.9edb34"
            ]
        ]
    },
    {
        "id": "35864240.6b7fbe",
        "type": "comment",
        "z": "4018cef4.755f3",
        "name": "GPIOs",
        "info": " 4 -> ds18b20\n 5 -> next\n 6 -> stop\n12 -> start \n22 -> buzzer\n23 -> stirrer (active high)\n24 -> heater (ative high)\n",
        "x": 150,
        "y": 820,
        "wires": []
    },
    {
        "id": "2b6a65b9.d15eea",
        "type": "LCD20x4-I2C",
        "z": "4018cef4.755f3",
        "name": "",
        "speed": "3",
        "size": "20x4",
        "address": "0x3F",
        "x": 1290,
        "y": 200,
        "wires": []
    },
    {
        "id": "10e68f99.62eed",
        "type": "rpi-gpio out",
        "z": "4018cef4.755f3",
        "name": "buzzer",
        "pin": "15",
        "set": true,
        "level": "0",
        "freq": "100",
        "out": "out",
        "x": 1710,
        "y": 760,
        "wires": []
    },
    {
        "id": "846bc4bf.167b18",
        "type": "trigger",
        "z": "4018cef4.755f3",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "30",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "short",
        "x": 1550,
        "y": 780,
        "wires": [
            [
                "10e68f99.62eed"
            ]
        ]
    },
    {
        "id": "38cca011.1aec6",
        "type": "mqtt out",
        "z": "4018cef4.755f3",
        "name": "temperature",
        "topic": "nodes@home/control/ssr/brewery/value/temperature",
        "qos": "0",
        "retain": "false",
        "broker": "faf25434.0c0ff8",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "e25bfe27.9e2aa",
        "type": "ui_toast",
        "z": "4018cef4.755f3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "alarm text",
        "x": 1260,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "7229393c.f5a708",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$flowContext('basepath') & \"/mp3/\" & msg.payload & \".mp3\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 680,
        "wires": [
            [
                "e1d18ce3.64362"
            ]
        ]
    },
    {
        "id": "e1d18ce3.64362",
        "type": "file in",
        "z": "4018cef4.755f3",
        "name": "mp3",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": true,
        "x": 1390,
        "y": 680,
        "wires": [
            [
                "c83960b7.bafff"
            ]
        ]
    },
    {
        "id": "c83960b7.bafff",
        "type": "ui_audio",
        "z": "4018cef4.755f3",
        "name": "",
        "group": "6d970163.d439f",
        "voice": "0",
        "always": true,
        "x": 1520,
        "y": 680,
        "wires": []
    },
    {
        "id": "d76fde63.cd76",
        "type": "template",
        "z": "4018cef4.755f3",
        "name": "payload",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"value\":{{payload}},\"unit\":\"°C\"}",
        "output": "str",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "38cca011.1aec6"
            ]
        ]
    },
    {
        "id": "52464056.cc677",
        "type": "delay",
        "z": "4018cef4.755f3",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1410,
        "y": 800,
        "wires": [
            [
                "846bc4bf.167b18"
            ]
        ]
    },
    {
        "id": "cb711084.22a03",
        "type": "switch",
        "z": "4018cef4.755f3",
        "name": "?sound",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ring",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tweet",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tweet2x",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1260,
        "y": 740,
        "wires": [
            [
                "59b8d1d8.b2d88"
            ],
            [
                "846bc4bf.167b18"
            ],
            [
                "52464056.cc677",
                "846bc4bf.167b18"
            ]
        ]
    },
    {
        "id": "59b8d1d8.b2d88",
        "type": "trigger",
        "z": "4018cef4.755f3",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "300",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "long",
        "x": 1550,
        "y": 740,
        "wires": [
            [
                "10e68f99.62eed"
            ]
        ]
    },
    {
        "id": "a0f2e8eb.c11628",
        "type": "switch",
        "z": "4018cef4.755f3",
        "name": "?start",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "cf59c1c.3876a4"
            ]
        ]
    },
    {
        "id": "2c4d6050.8244f",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "alarm",
        "links": [
            "9ae7ba59.e3ec58",
            "6c843107.5ac24",
            "c838fc7e.25bbd"
        ],
        "x": 835,
        "y": 460,
        "wires": []
    },
    {
        "id": "da831d0e.3ea6a",
        "type": "link out",
        "z": "4018cef4.755f3",
        "name": "audio",
        "links": [
            "5c503456.e30fdc",
            "fadd3ed.9095bc"
        ],
        "x": 835,
        "y": 500,
        "wires": []
    },
    {
        "id": "c838fc7e.25bbd",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "alarm",
        "links": [
            "2c4d6050.8244f",
            "835f9cba.217cd",
            "69cd691a.437ca8"
        ],
        "x": 1155,
        "y": 640,
        "wires": [
            [
                "e25bfe27.9e2aa"
            ]
        ]
    },
    {
        "id": "fadd3ed.9095bc",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "audio",
        "links": [
            "da831d0e.3ea6a",
            "eda80586.11cc58",
            "b3dc4a64.b281e8"
        ],
        "x": 1155,
        "y": 680,
        "wires": [
            [
                "7229393c.f5a708",
                "cb711084.22a03"
            ]
        ]
    },
    {
        "id": "b0c59940.8ae458",
        "type": "ui_button",
        "z": "acc8977e.fd0588",
        "name": "",
        "group": "4a318d10.c590e4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "a7efa4e4.82fa48"
            ]
        ]
    },
    {
        "id": "a7efa4e4.82fa48",
        "type": "exec",
        "z": "acc8977e.fd0588",
        "command": "sudo shutdown -h now",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8a59353e.51e018",
        "type": "ui_gauge",
        "z": "5f9eca78.52cb34",
        "name": "temperature",
        "group": "cbad4bec.ed7c88",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#0000ff",
            "#0292b0",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "78",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "5197e496.c62d0c",
        "type": "change",
        "z": "5f9eca78.52cb34",
        "name": "get value",
        "rules": [
            {
                "t": "move",
                "p": "payload.temperature1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "8a59353e.51e018",
                "8a93f228.992e5"
            ]
        ]
    },
    {
        "id": "d82379aa.bfbf58",
        "type": "mqtt in",
        "z": "5f9eca78.52cb34",
        "name": "mqtt",
        "topic": "nodes@home/sensor/ds18b20/brewery/value/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "faf25434.0c0ff8",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "639b1bc0.0ab124",
                "e8224c88.9ccdc",
                "5197e496.c62d0c"
            ]
        ]
    },
    {
        "id": "46a125f8.69cdfc",
        "type": "comment",
        "z": "5f9eca78.52cb34",
        "name": "Temperatur Nachguss",
        "info": "",
        "x": 140,
        "y": 200,
        "wires": []
    },
    {
        "id": "8a93f228.992e5",
        "type": "ui_chart",
        "z": "5f9eca78.52cb34",
        "name": "chart",
        "group": "cbad4bec.ed7c88",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "---",
        "dot": false,
        "ymin": "0",
        "ymax": "90",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#8080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ca11600c.7d927",
        "type": "change",
        "z": "5f9eca78.52cb34",
        "name": "blank",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "8a93f228.992e5",
                "7011e4ac.40d81c",
                "3c7adeab.59ce32"
            ]
        ]
    },
    {
        "id": "fa7efb75.fe1348",
        "type": "change",
        "z": "5f9eca78.52cb34",
        "name": "value = 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "8a59353e.51e018",
                "19202a16.3c9986",
                "5df482f1.fed54c"
            ]
        ]
    },
    {
        "id": "465298ed.33e498",
        "type": "comment",
        "z": "5f9eca78.52cb34",
        "name": "Akkuüberwachung",
        "info": "",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "639b1bc0.0ab124",
        "type": "change",
        "z": "5f9eca78.52cb34",
        "name": "get value",
        "rules": [
            {
                "t": "move",
                "p": "payload.temperature2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 300,
        "wires": [
            [
                "19202a16.3c9986",
                "7011e4ac.40d81c"
            ]
        ]
    },
    {
        "id": "7011e4ac.40d81c",
        "type": "ui_chart",
        "z": "5f9eca78.52cb34",
        "name": "chart",
        "group": "ae17b855.7e0858",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "---",
        "dot": false,
        "ymin": "0",
        "ymax": "90",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#8080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 610,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "19202a16.3c9986",
        "type": "ui_gauge",
        "z": "5f9eca78.52cb34",
        "name": "temperature",
        "group": "ae17b855.7e0858",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#0000ff",
            "#ffff00",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "78",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "3c7adeab.59ce32",
        "type": "ui_chart",
        "z": "5f9eca78.52cb34",
        "name": "chart",
        "group": "f7a4a10e.66a75",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "---",
        "dot": false,
        "ymin": "3.0",
        "ymax": "4.5",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#8080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 610,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5df482f1.fed54c",
        "type": "ui_gauge",
        "z": "5f9eca78.52cb34",
        "name": "voltage",
        "group": "f7a4a10e.66a75",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "V",
        "format": "{{value | number:2}}",
        "min": "3.0",
        "max": "4.5",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#008000"
        ],
        "seg1": "3.6",
        "seg2": "3.8",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "487d9e54.9f681",
        "type": "change",
        "z": "5f9eca78.52cb34",
        "name": "get value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value / 1000",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 480,
        "wires": [
            [
                "5df482f1.fed54c",
                "3c7adeab.59ce32"
            ]
        ]
    },
    {
        "id": "ba00bf4f.3901a",
        "type": "mqtt in",
        "z": "5f9eca78.52cb34",
        "name": "boiler",
        "topic": "nodes@home/sensor/ds18b20/brewery/value/voltage",
        "qos": "0",
        "datatype": "json",
        "broker": "faf25434.0c0ff8",
        "x": 87,
        "y": 480,
        "wires": [
            [
                "487d9e54.9f681"
            ]
        ]
    },
    {
        "id": "a159909d.1a946",
        "type": "comment",
        "z": "5f9eca78.52cb34",
        "name": "Nachguss",
        "info": "",
        "x": 106,
        "y": 80,
        "wires": []
    },
    {
        "id": "d39f22d.b466fe",
        "type": "ui_button",
        "z": "5f9eca78.52cb34",
        "name": "",
        "group": "f7a4a10e.66a75",
        "order": 56,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 96,
        "y": 120,
        "wires": [
            [
                "ca11600c.7d927",
                "fa7efb75.fe1348"
            ]
        ]
    },
    {
        "id": "e8224c88.9ccdc",
        "type": "function",
        "z": "5f9eca78.52cb34",
        "name": "detect alarm",
        "func": "\nif ( msg.payload.temperature1 >= 78.0 ) {\n    return [{ payload: \"Kessel 1 hat Nachguss-Temperatur erreicht!\" }, { payload: \"ring\" }];\n}\n\nif ( msg.payload.temperature2 >= 78.0 ) {\n    return [{ payload: \"Kessel 2 hat Nachguss-Temperatur erreicht!\" }, { payload: \"ring\" }];\n}\n\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "69cd691a.437ca8"
            ],
            [
                "b3dc4a64.b281e8"
            ]
        ],
        "outputLabels": [
            "alarm",
            "audio"
        ]
    },
    {
        "id": "69cd691a.437ca8",
        "type": "link out",
        "z": "5f9eca78.52cb34",
        "name": "alarm",
        "links": [
            "9ae7ba59.e3ec58",
            "6c843107.5ac24",
            "c838fc7e.25bbd"
        ],
        "x": 575,
        "y": 360,
        "wires": []
    },
    {
        "id": "b3dc4a64.b281e8",
        "type": "link out",
        "z": "5f9eca78.52cb34",
        "name": "audio",
        "links": [
            "5c503456.e30fdc",
            "fadd3ed.9095bc"
        ],
        "x": 575,
        "y": 400,
        "wires": []
    },
    {
        "id": "8168db4a.0383e8",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 5,
        "width": "11",
        "height": "1",
        "name": "line2",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 680,
        "wires": []
    },
    {
        "id": "a20ae010.0cc95",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 7,
        "width": "11",
        "height": "1",
        "name": "line3",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 720,
        "wires": []
    },
    {
        "id": "84fd5d4f.b9f1c",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 9,
        "width": "11",
        "height": "1",
        "name": "line4",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 760,
        "wires": []
    },
    {
        "id": "74d35ea4.d50e1",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 11,
        "width": "11",
        "height": "1",
        "name": "line5",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 800,
        "wires": []
    },
    {
        "id": "5249af45.7d5f9",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 5",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 670,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "af0b5d13.7473f",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 2",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 670,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6832bb2b.783d24",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 3",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 670,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "655a3545.6207bc",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 4",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2785e8b2.422398",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 3,
        "width": "11",
        "height": "1",
        "name": "line1",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "3a2c2366.2161ac",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 1",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "723210df.c5799",
        "type": "switch",
        "z": "4e07d0f0.b1a0e",
        "name": "?id",
        "property": "id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 13,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "3a2c2366.2161ac"
            ],
            [
                "af0b5d13.7473f"
            ],
            [
                "6832bb2b.783d24"
            ],
            [
                "655a3545.6207bc"
            ],
            [
                "5249af45.7d5f9"
            ],
            [
                "9e5f6d82.45a1e"
            ],
            [
                "813034b7.2e59b8"
            ],
            [
                "3b023c49.9fd394"
            ],
            [
                "43af67a9.85d958"
            ],
            [
                "40d53451.e495cc"
            ],
            [
                "8789cae8.0c2248"
            ],
            [
                "4345f84f.ca9968"
            ],
            [
                "3d69a1f4.0e78ae"
            ]
        ]
    },
    {
        "id": "30d0acf2.6ca604",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 13,
        "width": "11",
        "height": "1",
        "name": "line6",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 840,
        "wires": []
    },
    {
        "id": "1a95b2b1.d3ca0d",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 15,
        "width": "11",
        "height": "1",
        "name": "line7",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 880,
        "wires": []
    },
    {
        "id": "4438f0dd.b7be8",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 17,
        "width": "11",
        "height": "1",
        "name": "line8",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 920,
        "wires": []
    },
    {
        "id": "9e5f6d82.45a1e",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 6",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 670,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "813034b7.2e59b8",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 7",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 14,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 670,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3b023c49.9fd394",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 8",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 16,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 670,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b2404611.31e7a8",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "recipe name",
        "label": "",
        "format": "<font size=\"+3\">{{msg.payload.name}}</font size>",
        "layout": "row-left",
        "x": 330,
        "y": 840,
        "wires": []
    },
    {
        "id": "bc233a6b.05e638",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 19,
        "width": "11",
        "height": "1",
        "name": "line9",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 960,
        "wires": []
    },
    {
        "id": "2be8d24b.eb697e",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 21,
        "width": "11",
        "height": "1",
        "name": "line10",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 1000,
        "wires": []
    },
    {
        "id": "43af67a9.85d958",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 9",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 18,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 670,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "40d53451.e495cc",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 10",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 20,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 680,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "1f31006.10919",
        "type": "function",
        "z": "4e07d0f0.b1a0e",
        "name": "recipe lines",
        "func": "// junand 15.04.2018\n\nvar result = [];\nfor ( var i = 0; i < 13; i++ ) {\n    result [i] = { id: i, payload: \"\" };\n}\n\nif ( msg.payload.steps ) {\n    var l = msg.payload.steps;\n    for ( var i = 0; i < l.length; i++ ) {\n        if ( l [i].step ) {\n            line = \"[\" + l [i].id + \"] \" + l [i].step;\n            if ( l [i].temperature ) line += \": \" + l [i].temperature + \"°C\";\n            if ( l [i].duration === \"wait\" ) line += \", dann WEITER\";\n            else line += \" für \" + l [i].duration + \"min\";\n            if ( l [i].stirring == \"full\" ) line += \" **\";\n            else if ( l [i].stirring == \"control\" ) line += \" *\";\n            result [i] = { id: i, payload: line };\n        }\n    }\n}\n\nreturn [result];",
        "outputs": "1",
        "noerr": 0,
        "x": 330,
        "y": 880,
        "wires": [
            [
                "9b0198ba.951fe8"
            ]
        ]
    },
    {
        "id": "23e3e0c6.67e42",
        "type": "link in",
        "z": "4e07d0f0.b1a0e",
        "name": "recipe icons",
        "links": [
            "b8d2408e.cb751"
        ],
        "x": 155,
        "y": 340,
        "wires": [
            [
                "723210df.c5799"
            ]
        ]
    },
    {
        "id": "e5fa0b8f.efda88",
        "type": "comment",
        "z": "4e07d0f0.b1a0e",
        "name": "Rezept Zeilenmarkierung",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "9b0198ba.951fe8",
        "type": "switch",
        "z": "4e07d0f0.b1a0e",
        "name": "?id",
        "property": "id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 13,
        "x": 510,
        "y": 880,
        "wires": [
            [
                "2785e8b2.422398"
            ],
            [
                "8168db4a.0383e8"
            ],
            [
                "a20ae010.0cc95"
            ],
            [
                "84fd5d4f.b9f1c"
            ],
            [
                "74d35ea4.d50e1"
            ],
            [
                "30d0acf2.6ca604"
            ],
            [
                "1a95b2b1.d3ca0d"
            ],
            [
                "4438f0dd.b7be8"
            ],
            [
                "bc233a6b.05e638"
            ],
            [
                "2be8d24b.eb697e"
            ],
            [
                "d99fa54f.8de828"
            ],
            [
                "8514ccc4.405f9"
            ],
            [
                "806d1dba.4c478"
            ]
        ]
    },
    {
        "id": "595dfe4f.f3464",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "6d970163.d439f",
        "order": 9,
        "width": "5",
        "height": "4",
        "name": "documentation",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 340,
        "y": 980,
        "wires": []
    },
    {
        "id": "170a89ab.961236",
        "type": "template",
        "z": "4e07d0f0.b1a0e",
        "name": "beep doc",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<br>\n<font size = +1>Töne</font>\n<ul>\n<li>ring<br>Alarm aus dem Rezept</li>\n<li>beep<br>Heizung an/aus</li>\n<li>2xbeep<br>Anfang/Ende Zeitintervall</li>\n</ul>",
        "output": "str",
        "x": 320,
        "y": 920,
        "wires": [
            [
                "595dfe4f.f3464"
            ]
        ]
    },
    {
        "id": "e34aef5a.58343",
        "type": "link in",
        "z": "4e07d0f0.b1a0e",
        "name": "load on startup",
        "links": [
            "9eb8404e.13d46",
            "c480b759.94c038",
            "4591e583.8d859c"
        ],
        "x": 155,
        "y": 900,
        "wires": [
            [
                "170a89ab.961236",
                "1f31006.10919",
                "b2404611.31e7a8"
            ]
        ]
    },
    {
        "id": "8789cae8.0c2248",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 11",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 22,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 680,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4345f84f.ca9968",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 12",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 24,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 680,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3d69a1f4.0e78ae",
        "type": "ui_switch",
        "z": "4e07d0f0.b1a0e",
        "name": "icon 13",
        "label": "",
        "group": "ed68914c.8764b",
        "order": 26,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "play_arrow",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "indeterminate_check_box",
        "offcolor": "grey",
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d99fa54f.8de828",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 23,
        "width": "11",
        "height": "1",
        "name": "line11",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8514ccc4.405f9",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 25,
        "width": "11",
        "height": "1",
        "name": "line12",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 1080,
        "wires": []
    },
    {
        "id": "806d1dba.4c478",
        "type": "ui_text",
        "z": "4e07d0f0.b1a0e",
        "group": "ed68914c.8764b",
        "order": 27,
        "width": "11",
        "height": "1",
        "name": "line13",
        "label": "",
        "format": "<font size=\"+2\">{{msg.payload}}</font size>",
        "layout": "row-left",
        "x": 670,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c368a98c.5f8c28",
        "type": "link in",
        "z": "4e07d0f0.b1a0e",
        "name": "recipe",
        "links": [
            "3bd82293.1951de",
            "bb96b38e.6a74e"
        ],
        "x": 155,
        "y": 860,
        "wires": [
            [
                "1f31006.10919",
                "b2404611.31e7a8"
            ]
        ]
    },
    {
        "id": "ff2e08c5.c64e98",
        "type": "comment",
        "z": "acc8977e.fd0588",
        "name": "shutdown",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "8a848227.dcc85",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "blank",
        "links": [
            "146e5abc.5a9575",
            "2bf980d.298c08",
            "c86d925a.2d93b",
            "a7d78432.8834f8",
            "2f3afbb1.9e58e4"
        ],
        "x": 895,
        "y": 660,
        "wires": [
            [
                "dab737b.a3dc5c8"
            ]
        ]
    },
    {
        "id": "763118ef.9f4668",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "recipe",
        "links": [
            "3bd82293.1951de",
            "bb96b38e.6a74e"
        ],
        "x": 515,
        "y": 560,
        "wires": [
            [
                "ab315bed.9c0268"
            ]
        ]
    },
    {
        "id": "38cc6d34.85aa92",
        "type": "link in",
        "z": "4018cef4.755f3",
        "name": "button press",
        "links": [
            "2c0fd36d.b8a70c",
            "68b89b4.f6d0f64",
            "307e67e0.04c178",
            "8eb1baed.b5b518",
            "2e20381f.409388",
            "4e61a66e.975628",
            "393e48b3.c68f98",
            "a970a0fe.0b279",
            "e7490bd8.735b18",
            "64cbde22.ce25f",
            "5e08f88c.5bfa78"
        ],
        "x": 515,
        "y": 600,
        "wires": [
            [
                "ab315bed.9c0268"
            ]
        ]
    },
    {
        "id": "eb39735f.01791",
        "type": "comment",
        "z": "d0c185b8.08bb48",
        "name": "Physische Button",
        "info": "",
        "x": 140,
        "y": 520,
        "wires": []
    },
    {
        "id": "5e9b4421.93446c",
        "type": "switch",
        "z": "d0c185b8.08bb48",
        "name": "?on",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 680,
        "wires": [
            [
                "89b61a52.cc0bf8"
            ]
        ]
    },
    {
        "id": "76201d87.8ec054",
        "type": "exec",
        "z": "d0c185b8.08bb48",
        "command": "ls ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "ls",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "e4e72531.c5f6a8"
            ],
            [],
            []
        ]
    },
    {
        "id": "a126846.4838d78",
        "type": "ui_button",
        "z": "d0c185b8.08bb48",
        "name": "refresh",
        "group": "6d970163.d439f",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "grey",
        "bgcolor": "white",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "x": 260,
        "y": 320,
        "wires": [
            [
                "247c3d8b.b96a42"
            ]
        ]
    },
    {
        "id": "e4e72531.c5f6a8",
        "type": "function",
        "z": "d0c185b8.08bb48",
        "name": "options",
        "func": "// junand 15.04.2018\n\nif ( msg.topic == \"recipe\" ) {\n    context.set ( \"lastchoice\", msg.payload );\n    return null;\n}\n\nvar basepath = global.get ( \"basepath\" ) + \"/recipes/\";\n\nvar l1 = \"recipe_\".length;\nvar l2 = \".json\".length;\n        \n// 1) create array of files\nvar s = msg.payload;\nvar files = s.substring ( 0, s.length - 1 ).split ( \"\\n\" );\n//node.warn ( \"files=\" + files );\n\n// 2) dropdown list\nvar l = [];\nfor ( var i = 0; i < files.length; i++ ) {\n    var f = files [i];\n    if ( f.startsWith ( \"recipe_\" ) && f.endsWith ( \".json\" ) ) {\n        var option = f.substring ( l1, f.length - l2 );\n        //node.warn ( \"option=\" + option );\n        l [i] = {};\n        l[i] [option] = basepath + f;\n    }\n}\n\nvar _msg = {};\nif ( msg.topic == \"refresh\" ) _msg.payload = context.get ( \"lastchoice\" );\n_msg.options = l;\n\nreturn _msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 320,
        "wires": [
            [
                "35e7bb49.758ad4"
            ]
        ]
    },
    {
        "id": "e8a3580c.c42118",
        "type": "comment",
        "z": "d0c185b8.08bb48",
        "name": "Rezeptauswahl",
        "info": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "650314b0.cf0c4c",
        "type": "rpi-gpio in",
        "z": "d0c185b8.08bb48",
        "name": "next",
        "pin": "29",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "5e9b4421.93446c"
            ]
        ]
    },
    {
        "id": "8088372.5b2bdc8",
        "type": "rpi-gpio in",
        "z": "d0c185b8.08bb48",
        "name": "stop",
        "pin": "31",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 110,
        "y": 800,
        "wires": [
            [
                "e91a3d08.3a1e5"
            ]
        ]
    },
    {
        "id": "e91a3d08.3a1e5",
        "type": "switch",
        "z": "d0c185b8.08bb48",
        "name": "?on",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 800,
        "wires": [
            [
                "87511e99.20dcd"
            ]
        ]
    },
    {
        "id": "247c3d8b.b96a42",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "filename",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext('basepath') & \"/recipes\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "76201d87.8ec054"
            ]
        ]
    },
    {
        "id": "94f600b3.8bd71",
        "type": "rpi-gpio in",
        "z": "d0c185b8.08bb48",
        "name": "start",
        "pin": "32",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "cca6a6f8.8ce098"
            ]
        ]
    },
    {
        "id": "cca6a6f8.8ce098",
        "type": "switch",
        "z": "d0c185b8.08bb48",
        "name": "?on",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "42b37792.15a508"
            ]
        ]
    },
    {
        "id": "884a6fa0.ad817",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 800,
        "wires": [
            [
                "e22fdc95.99ba2",
                "c106feb4.6a2bd",
                "ffe02357.cc2f3",
                "6a6200ec.0f76c",
                "a970a0fe.0b279"
            ]
        ]
    },
    {
        "id": "9145c3ab.c10b8",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "next",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 680,
        "wires": [
            [
                "a970a0fe.0b279"
            ]
        ]
    },
    {
        "id": "c0a2bfb3.999b7",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 560,
        "wires": [
            [
                "6830c274.46fc8c",
                "ecee77f8.3cb548",
                "d088ad2f.31212",
                "4d9b8472.0cd20c",
                "c86d925a.2d93b",
                "a970a0fe.0b279"
            ]
        ]
    },
    {
        "id": "6830c274.46fc8c",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "disable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "35e7bb49.758ad4",
                "a126846.4838d78"
            ]
        ]
    },
    {
        "id": "e22fdc95.99ba2",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "enable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "35e7bb49.758ad4",
                "a126846.4838d78"
            ]
        ]
    },
    {
        "id": "42b37792.15a508",
        "type": "switch",
        "z": "d0c185b8.08bb48",
        "name": "?enabled",
        "property": "start_enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "c0a2bfb3.999b7"
            ]
        ]
    },
    {
        "id": "89b61a52.cc0bf8",
        "type": "switch",
        "z": "d0c185b8.08bb48",
        "name": "?enabled",
        "property": "next_enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 680,
        "wires": [
            [
                "9145c3ab.c10b8"
            ]
        ]
    },
    {
        "id": "87511e99.20dcd",
        "type": "switch",
        "z": "d0c185b8.08bb48",
        "name": "?enabled",
        "property": "stop_enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 800,
        "wires": [
            [
                "884a6fa0.ad817"
            ]
        ]
    },
    {
        "id": "c7c0b192.87a36",
        "type": "ui_button",
        "z": "d0c185b8.08bb48",
        "name": "start",
        "group": "6d970163.d439f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "green",
        "bgcolor": "white",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "start",
        "x": 990,
        "y": 560,
        "wires": [
            [
                "6830c274.46fc8c",
                "d088ad2f.31212",
                "4d9b8472.0cd20c",
                "ecee77f8.3cb548",
                "c86d925a.2d93b",
                "a970a0fe.0b279"
            ]
        ]
    },
    {
        "id": "e2932144.22c94",
        "type": "ui_button",
        "z": "d0c185b8.08bb48",
        "name": "stop",
        "group": "6d970163.d439f",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#FFAAAA",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "stop",
        "x": 990,
        "y": 800,
        "wires": [
            [
                "e22fdc95.99ba2",
                "6a6200ec.0f76c",
                "ffe02357.cc2f3",
                "c106feb4.6a2bd",
                "a970a0fe.0b279"
            ]
        ]
    },
    {
        "id": "e9e72b99.7f6c88",
        "type": "ui_button",
        "z": "d0c185b8.08bb48",
        "name": "next",
        "group": "6d970163.d439f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Weiter",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "next",
        "x": 990,
        "y": 680,
        "wires": [
            [
                "a970a0fe.0b279"
            ]
        ]
    },
    {
        "id": "4aef7a83.ebfc34",
        "type": "comment",
        "z": "d0c185b8.08bb48",
        "name": "Gui Button",
        "info": "",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "c106feb4.6a2bd",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "enable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "start_enabled",
                "pt": "flow",
                "to": "enabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 560,
        "wires": [
            [
                "c7c0b192.87a36"
            ]
        ]
    },
    {
        "id": "ecee77f8.3cb548",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "disable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "start_enabled",
                "pt": "flow",
                "to": "enabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 620,
        "wires": [
            [
                "c7c0b192.87a36"
            ]
        ]
    },
    {
        "id": "b8e8792a.48e4d8",
        "type": "link in",
        "z": "d0c185b8.08bb48",
        "name": "load on startup",
        "links": [
            "9eb8404e.13d46",
            "c480b759.94c038",
            "4591e583.8d859c"
        ],
        "x": 135,
        "y": 80,
        "wires": [
            [
                "ecee77f8.3cb548",
                "ffe02357.cc2f3",
                "6a6200ec.0f76c",
                "247c3d8b.b96a42",
                "e22fdc95.99ba2"
            ]
        ]
    },
    {
        "id": "ffe02357.cc2f3",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "disable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "next_enabled",
                "pt": "flow",
                "to": "enabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 740,
        "wires": [
            [
                "e9e72b99.7f6c88"
            ]
        ]
    },
    {
        "id": "d088ad2f.31212",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "enable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "next_enabled",
                "pt": "flow",
                "to": "enabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 680,
        "wires": [
            [
                "e9e72b99.7f6c88"
            ]
        ]
    },
    {
        "id": "6a6200ec.0f76c",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "disable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "stop_enabled",
                "pt": "flow",
                "to": "enabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 860,
        "wires": [
            [
                "e2932144.22c94"
            ]
        ]
    },
    {
        "id": "4d9b8472.0cd20c",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "enable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "stop_enabled",
                "pt": "flow",
                "to": "enabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 800,
        "wires": [
            [
                "e2932144.22c94"
            ]
        ]
    },
    {
        "id": "178905b7.6844ba",
        "type": "comment",
        "z": "d0c185b8.08bb48",
        "name": "Nebenwirkung",
        "info": "Obige change-Operatoren enable/disable setzen auch einen flow-Para,eter für die (De)Aktivierung der physischen Button)",
        "x": 830,
        "y": 900,
        "wires": []
    },
    {
        "id": "c86d925a.2d93b",
        "type": "link out",
        "z": "d0c185b8.08bb48",
        "name": "blank",
        "links": [
            "8a848227.dcc85"
        ],
        "x": 1415,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f227e8d.19871",
        "type": "link in",
        "z": "d0c185b8.08bb48",
        "name": "recipe schedule",
        "links": [
            "2712e131.9920de"
        ],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "fe90346c.ccc528"
            ]
        ]
    },
    {
        "id": "fe90346c.ccc528",
        "type": "switch",
        "z": "d0c185b8.08bb48",
        "name": "?finished",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "finished",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "e22fdc95.99ba2",
                "c106feb4.6a2bd",
                "6a6200ec.0f76c",
                "ffe02357.cc2f3"
            ]
        ]
    },
    {
        "id": "35e7bb49.758ad4",
        "type": "ui_dropdown",
        "z": "d0c185b8.08bb48",
        "name": "recipe",
        "label": "",
        "tooltip": "",
        "place": "Rezept auswählen",
        "group": "6d970163.d439f",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "recipe",
        "x": 830,
        "y": 360,
        "wires": [
            [
                "9587eabe.4a7868",
                "e4e72531.c5f6a8"
            ]
        ]
    },
    {
        "id": "9587eabe.4a7868",
        "type": "change",
        "z": "d0c185b8.08bb48",
        "name": "filename",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 320,
        "wires": [
            [
                "4e44bddc.fb33b4"
            ]
        ]
    },
    {
        "id": "4e44bddc.fb33b4",
        "type": "file in",
        "z": "d0c185b8.08bb48",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1110,
        "y": 320,
        "wires": [
            [
                "32c135d2.d15d4a"
            ]
        ]
    },
    {
        "id": "32c135d2.d15d4a",
        "type": "json",
        "z": "d0c185b8.08bb48",
        "name": "",
        "pretty": false,
        "x": 1230,
        "y": 320,
        "wires": [
            [
                "bb96b38e.6a74e",
                "c106feb4.6a2bd"
            ]
        ]
    },
    {
        "id": "bb96b38e.6a74e",
        "type": "link out",
        "z": "d0c185b8.08bb48",
        "name": "recipe",
        "links": [
            "bcd51fcf.6e841",
            "c1f169a3.ced248",
            "d1fc50e6.16a48",
            "f6278604.186ef8",
            "c368a98c.5f8c28",
            "763118ef.9f4668"
        ],
        "x": 1415,
        "y": 320,
        "wires": []
    },
    {
        "id": "dab737b.a3dc5c8",
        "type": "change",
        "z": "4018cef4.755f3",
        "name": "blank",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 660,
        "wires": [
            [
                "d2dc225.23641e"
            ]
        ]
    },
    {
        "id": "a970a0fe.0b279",
        "type": "link out",
        "z": "d0c185b8.08bb48",
        "name": "button press",
        "links": [
            "38cc6d34.85aa92"
        ],
        "x": 1415,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2212e4ff.bdfc4c",
        "type": "comment",
        "z": "d0c185b8.08bb48",
        "name": "Button Steuerung",
        "info": "# Flow Start\n * ",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "b706f06.87d811",
        "type": "config",
        "z": "962f6b3.4c14f98",
        "name": "config",
        "properties": [
            {
                "p": "basepath",
                "pt": "global",
                "to": "/home/pi/GIT/brewery",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 130,
        "y": 80,
        "wires": []
    }
]